---
title: 基本情報
---

.sub-wrapper
  .header
    %h1
      = link_to "Uniba.jp", "../"

  .information-content
    %h2
      基本情報
    %dl
      %dt 会社名
      %dd ユニバ株式会社
    %dl
      %dt URL
      %dd http://uniba.jp
    %dl
      %dt 所在地
      %dd 150-0001 東京都渋谷区神宮前5-34-4 ジェイハウスB1F
    %dl
      %dt 代表者名
      %dd 菊地玄摩
    %dl
      %dt 設立
      %dd 2003年
    %dl
      %dt 従業員数
      %dd 16名
    %dl
      %dt 業種
      %dd デザイン・インタラクション開発
    %dl
      %dt 事業内容
      %dd プランニング
      %dd デザイン
      %dd ウェブサイト開発
      %dd ウェブアプリケーション開発
      %dd iOSアプリケーション開発
      %dd デバイス開発

    #map
      <iframe width="800" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.jp/maps?f=q&amp;source=s_q&amp;hl=ja&amp;geocode=&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%8B%E8%B0%B7%E5%8C%BA%E7%A5%9E%E5%AE%AE%E5%89%8D5-34-4&amp;aq=t&amp;sll=35.673343,139.710388&amp;sspn=0.404402,0.909119&amp;brcurrent=3,0x60188ca12970f365:0xcdf71e3f089d26e0,0&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%8B%E8%B0%B7%E5%8C%BA%E7%A5%9E%E5%AE%AE%E5%89%8D%EF%BC%95%E4%B8%81%E7%9B%AE%EF%BC%93%EF%BC%94%E2%88%92%EF%BC%94&amp;t=m&amp;ll=35.663433,139.704981&amp;spn=0.034867,0.06875&amp;z=15&amp;output=embed&iwloc=B"></iframe>

    .btn
      = link_to "Back", "../"
