.works-wrapper {
  width: 800px;
  padding: 0 60px 60px 60px;

  .header {
    @extend %font-futura;
    text-transform: uppercase;

    h1 {
      padding: 15px 0;
      font-size: 0.95em;
      letter-spacing: normal;
    }

    a {
      text-decoration: none;
    }
  }
}

.works-content {

  h2 {
    @extend %font-futura;
    margin: 0;
    padding: 12px 0;
    font-size: 2.8em;
    font-style: italic;
    letter-spacing: 0.1em;
  }

  .date {
    display: block;
    font-size: 0.85em;
  }
}

.works-body {
  padding: 50px 0;
  position: relative;

  .works-link {
    @extend %font-futura;
    display: block;
    margin: 1em 0 2em 0;
    font-size: 1.1em;
    font-style: italic;
  }

  .description {
    margin: 0;
    font-size: 1.1em;
    line-height: 2;
  }
}

%line {
  content: " ";
  display: block;
  width: 30px;
  margin: 0 auto;
}

.works-nav {
  width: 58px;
  height: 58px;
  border: 1px solid #000000;
  position: absolute;
  top: 50px;
  right: -100px;

  &:before {
    @extend %line;
    height: 8px;
    margin-top: 18px;
    border: 2px solid #000000;
    border-right: none;
    border-left: none;
  }

  &:after {
    @extend %line;
    margin-top: 8px;
    height: 2px;
    background-color: #000000;
  }

  &:hover {

    ul {
      display: block;
    }
  }

  ul {
    @extend %font-futura;
    display: none;
    width: 300px - 28px * 2;
    padding: 20px 28px;
    background-color: #000000;
    position: absolute;
    top: -1px;
    right: -1px;
    font-size: 0.85em;
    line-height: 2;

    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}