
//= require normalize-css/normalize
//= require jquery.fancybox/source/jquery.fancybox
//= require_self

@import "compass/utilities";
@import "compass/css3";
@import "breakpoint";
@import "font";
@import "movie";
@import "works";
@import "debug";

%btn-hover {
  display: block;
  text-decoration: none;
  line-height: 1;

  &:hover {
    color: #ffffff;
    background-color: #000000;
  }
}

%colorize-on-hover {
  -webkit-filter: invert(1) brightness(.6) invert(1) contrast(2.5) grayscale(1);
  &:hover {
    -webkit-filter: grayscale(0);
  }
}

body {
  @extend %body-font;
  font-size: 1em;
  letter-spacing: 0.1em;
  line-height: 1.4;
}

a {
  color: #000000;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  vertical-align: top;
}

.controls {
  position: absolute;
  top: 10px; right: 10px;
  z-index: 10;
  background-color: rgba(0, 0, 0, .4);
  padding: 1em;
  color: #fff;
  @include bp(sp) {
    display: none;
  }

  &:hover {
    background-color: rgba(0, 0, 0, .6);
  }
}

.main-container {
  background-color: #ffffff;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  @include bp(sp) {
    width: 94%;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 3%;
    @include box-sizing(border-box);
  }
}

.wrapper {
  padding: 0 60px;
  @include bp(sp) {
    padding: 0;
  }
}

.section-title {
  @extend %font-futura;
  font-style: italic;
  font-weight: normal;
  text-transform: uppercase;
}

.section {
  min-width: 900px;
  max-width: 1500px;
  padding: 0 0 100px 0;
  @include bp(sp) {
    min-width: 100%;
    max-width: 100%;
    padding: 0 0 25px 0;
    font-size: 0.65em;
  }

  .section-title {
    margin: 0;
    padding: 50px 0;
    font-size: 2.813em;
    @include bp(sp) {
      padding: 10px 0;
      font-size: 2.2em;
    }
  }
}

.btn {
  border: 1px solid #000000;
  @include box-sizing(border-box);

  a {
    @extend %btn-hover;
    padding: 2em 0 1.8em 0;
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
    @include bp(sp) {
      padding: 1.5em 0 1.3em 0;
    }
  }
}

.header {

  h1 {
    margin: 0;
    padding: 28px 0;
    font-size: 4.875em;
    @include bp(sp) {
      padding: 0.2em 0 0.5em 0;
      font-size: 2.188em;
    }
  }
}

.nav {
  @extend %font-futura;
  padding: 0 0 205px 0;
  text-transform: uppercase;
  @include bp(sp) {
    padding: 0 0 50px 0;
  }

  ul {
    @include bp(sp) {
      border: 1px solid #000000;
      border-bottom: none;
      border-left: none;
      @include box-sizing(border-box);
      @include clearfix;
    }
  }

  li {
    display: inline-block;
    padding: 0 1.5em 0 0;
    @include bp(sp) {
      float: left;
      display: block;
      width: 50%;
      padding: 0;
      border-left: 1px solid #000000;
      border-bottom: 1px solid #000000;
      @include box-sizing(border-box);
    }

    &:last-child {
      padding: 0;
    }
  }

  span {
    display: block;
    background-color: #ffffff;
    color: lighten(#000000, 70%);
    @include bp(sp) {
      padding: 0.55em 0.6em;
      background-color: transparent;
    }
  }

  a {
    text-decoration: none;
    @include bp(sp) {
      display: block;
      padding: 0.55em 0.6em;
    }

    &:hover {
      text-decoration: line-through;
      @include bp(sp) {
        background-color: #000000;
        text-decoration: none;
      }

      span {
        @include bp(sp) {
          color: #ffffff;
          background-color: transparent;
        }
      }
    }

    span {
      display: inline;
      color: #000000;
      padding: 0;
    }
  }
}

.nav-fixed {
  padding: 0;
  position: fixed;
  top: 25px;
  z-index: 50;
  @include bp(sp) {
    position: relative;
    top: auto;
  }

  & + #news {
    padding-top: 205px + 22px;
    @include bp(sp) {
      padding-top: 0;
    }
  }
}

.sub-wrapper {
  min-width: 800px;
  width: 800px;
  padding: 0 60px 60px 60px;
  @include bp(sp) {
    width: 94%;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 3% 20px 3%;
  }

  .header {
    @extend %font-futura;
    text-transform: uppercase;

    h1 {
      padding: 15px 0;
      font-size: 0.95em;
      font-weight: normal;
      letter-spacing: normal;
      @include bp(sp) {
        font-size: 0.75em;
      }
    }

    a {
      text-decoration: none;
    }
  }
}

#about {
  display: none;

  .section-title {
    margin: 0;
    font-size: 2.813em;
    @include bp(sp) {
      font-size: 1.6em;
    }
  }

  p {
    font-size: 1.4em;
    line-height: 2;
    letter-spacing: 0.15em;
    @include bp(sp) {
      font-size: 0.8em;
      line-height: 1.4;
    }
  }

  .btn {

    a {
      padding: 1.1em 0 1em 0;
      font-size: 1.5em;
      @include bp(sp) {
        font-size: 0.8em;
      }
    }
  }
}

.information-content {

  h2 {
    margin: 0;
    padding: 18px 0 50px 0;
    font-size: 2.6em;
    font-weight: normal;
    @include bp(sp) {
      padding: 0 0 18px 0;
      font-size: 1.4em;
      font-weight: normal;
    }
  }

  dl {
    margin: 0;
    font-size: 1.05em;
    line-height: 1.8;
    @include clearfix;
    @include bp(sp) {
      font-size: 0.75em;
    }

    &:last-of-type {
      padding: 40px 0;
      @include bp(sp) {
        padding: 16px 0;
      }
    }
  }

  dt {
    float: left
  }

  dd {
    margin: 0;
    padding: 0 0 0 7em;
    @include bp(sp) {
      padding: 0 0 0 6em;
    }
  }

  #map {
    height: 0;
    margin: 0 0 80px 0;
    padding-top: 25px;
    padding-bottom: 56.25%;
    position: relative;
    @include bp(sp) {
      height: auto;
      margin: 0 0 30px 0;
      padding: 0;
    }

    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include bp(sp) {
        position: relative;
      }
    }
  }
}

#news {

  a {
    text-decoration: underline;
  }

  p {
    margin-top: 0;
  }
}

#works {

}

.works-grid {
  @include clearfix;

  li {
    @extend %colorize-on-hover;

    float: left;
    @include bp(sp) {
      width: 50%;
    }

    img {
      @include bp(sp) {
        width: 100%;
        height: auto;
      }
    }
  }
}

#members {
  padding-bottom: 70px;
}

.members-grid {
  @include clearfix;

  li {
    float: left;
    width: 300px;
    padding: 0 0 30px 0;
    @include bp(sp) {
      width: 50%;
    }

    img {
      width: 80px;
      height: auto
    }
  }
}

.staff {
  @include clearfix;

  .figure {
    float: left;

    img {
      @extend %colorize-on-hover;
      @include bp(sp) {
        width: 40px;
        height: auto;
      }
    }
  }

  .staff-detail {
    margin: 0 0 0 90px;
    @include bp(sp) {
      margin: 0 0 0 45px;
    }

    h4 {
      margin: 0;
      padding: 0 0 0.25em 0;
      font-size: 1.5em;
      font-weight: normal;
      @include bp(sp) {
        font-size: 1.2em;
      }

      span {
        display: block;
        font-size: 0.65em;
        letter-spacing: 0.1em;
      }
    }

    .division {
      font-size: 0.875em;
      @include bp(sp) {
        font-size: 0.65em;
        letter-spacing: 0.1em;
      }
    }
  }
}

#client {

}

.client-grid {
  @include pie-clearfix;

  li {
    @extend %colorize-on-hover;
    float: left;
    width: 299px;
    margin: -1px 0 0 -1px;
    border: 1px solid #000000;
    @include bp(sp) {
      width: 50%;
      @include box-sizing(border-box);
    }

    img {
      @include bp(sp) {
        width: 100%;
        height: auto;
      }
    }
  }
}

#contact {

  a {
    text-decoration: none;
  }
}

address {
  font-style: normal;
  line-height: 2
}

#links {

  p {

    @include bp(sp) {
      border: 1px solid #000000;
      @include box-sizing(border-box);
    }

    a {
      @include bp(sp) {
        display: block;
        padding: 1.5em 0 1.3em 0;
        text-decoration: none;
        line-height: 1;
        text-align: center;
        text-decoration: none;
      }

      &:hover {
        @include bp(sp) {
          color: #ffffff;
          background-color: #000000;
        }
      }
    }
  }
}

.links-grid {
  @include pie-clearfix;

  li {
    display: table;
    float: left;
    width: 149px;
    height: 149px;
    margin: -1px 0 0 -1px;
    border: 1px solid #000000;
    text-align: center;
    @include bp(sp) {
      width: 33%;
      height: auto;
    }

    a {
      @extend %btn-hover;
      display: table-cell;
      height: 100%;
      font-size: 3em;
      vertical-align: middle;
      @include bp(sp) {
        padding: 1em 0;
      }
    }
  }
}

.footer {
  @extend %font-futura;
  font-size: 1.8em;
  font-style: italic;
  line-height: 1.6;
  @include bp(sp) {
    font-size: 1em;
    line-height: 1.4;
  }
}

// overwrite
.fancybox-overlay {
  background: none;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background: none;
  }
}


.fancybox-opened .fancybox-skin {
  box-shadow: none;
}

.fancybox-skin {
  padding: 30px !important;
  border: 1px solid #000000;
  @include border-radius(0);
  background-color: #ffffff;
  @include bp(sp) {
    padding: 5% !important;
  }
}

.fancybox-close {
  width: 78px;
  height: 78px;
  border: 1px solid #000000;
  top: -1px;
  right: -1px;
  @include bp(sp) {
    width: 38px;
    height: 38px;
  }

  &:before,
  &:after {
    content: " ";
    display: block;
    width: 65px;
    height: 0px;
    border-top: 1px solid #000000;
    position: absolute;
    top: 38px;
    left: 6px;
    @include bp(sp) {
      width: 32px;
      top: 19px;
      left: 3px;
    }
  }

  &:before {
    @include transform(rotate(-45deg));
  }

  &:after {
    @include transform(rotate(45deg));
  }

  &:hover {
    background-color: #000000;

    &:before,
    &:after {
      border-color: #ffffff;
    }
  }
}