%ul.members-grid
  - data.members.each do |item|
    %li
      .staff
        .figure
          %canvas
          #{item.profile_image_url}
        .staff-detail
          %h4
            %span #{item.name.en}
            #{item.name.ja}
          .division #{item.title}