#container
  .box
    %h3 2013.04.05
    .screenshots
      %a{href: "https://vimeo.com/63389168", target: "_blank"}
        %ul
          %li
            %img{height: "130", src: "img/thumb/pola_1.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/pola_2.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/pola_3.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/pola_4.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/pola_5.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/pola_6.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/pola_7.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/pola_8.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/pola_9.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/pola_10.jpg", width: "232"}/
    %p.title
      %a{href: "https://vimeo.com/63389168", target: "_blank"} Museum Survey Terminal - POLA MUSEUM ANNEX
  .box
    %h3 2013.04.01
    .screenshots
      %a{href: "https://vimeo.com/65715843", target: "_blank"}
        %ul
          %li
            %img{height: "130", src: "img/thumb/wasabeat_re_1.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/wasabeat_re_2.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/wasabeat_re_3.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/wasabeat_re_4.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/wasabeat_re_5.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/wasabeat_re_6.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/wasabeat_re_7.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/wasabeat_re_8.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/wasabeat_re_9.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/wasabeat_re_10.jpg", width: "232"}/
    %p.title
      %a{href: "https://vimeo.com/65715843", target: "_blank"} WASABEAT Renewal Site
  .box
    %h3 2012.11.23
    .screenshots
      %a{href: "http://vimeo.com/56186665", target: "_blank"}
        %ul
          %li
            %img{height: "130", src: "img/thumb/hayward_1.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/hayward_2.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/hayward_3.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/hayward_4.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/hayward_5.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/hayward_6.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/hayward_7.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/hayward_8.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/hayward_9.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/hayward_10.jpg", width: "232"}/
    %p.title
      %a{href: "http://vimeo.com/56186665", target: "_blank"} Art of Change : New Directions from China - DIGITAL ARCHIVE @HAYWARD ART GALLERY LONDON
  .box
    %h3 2012.10.29
    .screenshots
      %a{href: "http://vimeo.com/52377747", target: "_blank"}
        %ul
          %li
            %img{height: "130", src: "img/thumb/plugin_championship_1.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/plugin_championship_2.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/plugin_championship_3.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/plugin_championship_4.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/plugin_championship_5.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/plugin_championship_6.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/plugin_championship_7.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/plugin_championship_8.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/plugin_championship_9.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/plugin_championship_10.jpg", width: "232"}/
    %p.title
      %a{href: "http://vimeo.com/52377747", target: "_blank"} PLUG-IN Championship
  .box
    %h3 2012.06.11
    .screenshots
      %a{href: "http://vimeo.com/24918991", target: "_blank"}
        %ul
          %li
            %img{height: "130", src: "img/thumb/hairsalon_eizo_1.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/hairsalon_eizo_2.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/hairsalon_eizo_3.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/hairsalon_eizo_4.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/hairsalon_eizo_5.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/hairsalon_eizo_6.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/hairsalon_eizo_7.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/hairsalon_eizo_8.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/hairsalon_eizo_9.jpg", width: "232"}/
          %li
            %img{height: "130", src: "img/thumb/hairsalon_eizo_10.jpg", width: "232"}/
    %p.title
      %a{href: "http://vimeo.com/24918991", target: "_blank"} hair salon eizo