%dl
  %dt
    2014.05.07
  %dd
    Red Bull Japan様のキャンペーンサイト、<a href="http://majideyabai.com/" target="_blank">Red Bull X-Fighters マジでヤバいプロジェクト</a>のサイト制作をさせていただきました。
  %dt
    2014.03.31
  %dd
    森 浩一郎が機構・エレクトロニクス設計で参加した<a href="http://supersymmetry.ycam.jp/ja/" target="_blank">Ryoji Ikedaの新作インスタレーション&ldquo;supersymmetry&rdquo;</a>が、<a href="http://www.ycam.jp/index.html" target="_blank">山口情報芸術センター[YCAM]</a>にて展示されます。

  %dt
    2014.03.31
  %dd
    <a href="http://www.agf.co.jp/triplesso/higerable/" target="_blank">トリプレッソのヒゲラブルデバイス</a>の開発をお手伝いしました。

%p
  = link_to "最新情報はFacebookから", "https://www.facebook.com/UnibaInc", { :target => "_blank" }
