%dl
  %dt
    2014.03.03
  %dd
    <a href="https://messe.nikkei.co.jp/ld/2014-led-stage.html" target="_blank">LED Next Stage</a>で3月6日(木)に行われるステージセッションに、森 浩一郎がパネリストとして参加します。

  %dt
    2014.03.03
  %dd
    <a href="works/outback/">SUBARU Outback &ldquo;Wonder Trip&rdquo;</a>が、ドイツのデザインアワード <a href="http://exhibition.ifdesign.de/entrydetails_en.html?beitrag_id=124305" target="_blank">iF Communication Designn Award 2014</a>のキャンペーンサイト部門に入賞しました。

  %dt
    2014.02.25
  %dd
    クラブミュージック配信サイト<a href="https://www.wasabeat.jp/" target="_blank">WASABEAT</a>が<a href="http://musichackdaytokyo2014.peatix.com/" target="_blank">Music Hack Day Tokyo 2014</a>に参加しました。ハッカソンで利用されるAPIの実装をお手伝いしました。

%p
  = link_to "最新情報はFacebookから", "https://www.facebook.com/UnibaInc", { :target => "_blank" }
