%dl
  %dt
    2014.05.21
  %dd
    PFU様の新製品<a href="http://snaplite.jp/" target="_blank">SnapLite</a>のアプリUI設計、公式サイト・ブログ制作を担当させていただきました。
  %dt
    2014.05.07
  %dd
    Red Bull Japan様の<a href="http://majideyabai.com/" target="_blank">Red Bull X-Fighters マジでヤバいプロジェクト</a>のサイト制作をさせていただきました。
  %dt
    2014.03.31
  %dd
    森 浩一郎が機構・エレクトロニクス設計で参加した<a href="http://supersymmetry.ycam.jp/ja/" target="_blank">Ryoji Ikedaの新作インスタレーション&ldquo;supersymmetry&rdquo;</a>が、<a href="http://www.ycam.jp/index.html" target="_blank">山口情報芸術センター[YCAM]</a>にて展示されます。
%p
  = link_to "最新情報はFacebookから", "https://www.facebook.com/UnibaInc", { :target => "_blank" }
