%dl
  %dt
    2014.05.23
  %dd
    企画からデザイン、システムまで担当した<a href="http://majideyabai.com/" target="_blank">マジでヤバいプロジェクト</a>のインスタレーションが、 5月24-25日に大阪にて開催される<a href="http://www.redbull.com/jp/ja/motorsports/offroad/stories/1331624961345/x-fighters-2014-osaka-announcement" target="_blank">Red Bull X-Fighters Osaka 2014</a>の現地会場に設置されます。
  %dt
    2014.05.21
  %dd
    PFU様の新製品<a href="http://snaplite.jp/" target="_blank">SnapLite</a>のアプリUI設計、公式サイト・ブログ制作を担当させていただきました。
  %dt
    2014.05.07
  %dd
    Red Bull Japan様の<a href="http://majideyabai.com/" target="_blank">Red Bull X-Fighters マジでヤバいプロジェクト</a>のサイト制作をさせていただきました。
%p
  = link_to "最新情報はFacebookから", "https://www.facebook.com/UnibaInc", { :target => "_blank" }
