%dl
  %dt
    2014.12.24
  %dd
    年末年始は12月27日(土)〜1月4日(日)まで、休業させていただきます。今年も大変お世話になりました！
  %dt
    2014.11.21
  %dd
    東京マラソン財団さまの公式ランニングアプリ<a href="works/onetokyo/">ONE TOKYO APP</a>を制作しました。<a href="https://itunes.apple.com/jp/app/id927278350" target="_blank">App Store</a>よりダウンロードが可能です。
  %dt
    2014.07.17
  %dd
    弊社主催の勉強会を毎月開催しております。今月の「<a href="http://connpass.com/event/7493/" target="_blank">月刊ライトニングトーク 2014年6月+7月号</a>」は7月24日19時から21cafeさんにて開催いたします。
%p
  = link_to "最新情報はFacebookから", "https://www.facebook.com/UnibaInc", { :target => "_blank" }
