%dl
  %dt
    2014.08.11
  %dd
    先月末に開催した「月刊ライトニングトーク 2014年6月+7月号」の様子を、<a href="http://geechs-magazine.com/2597" target="_blank">geechsマガジンさんに掲載</a>いただきました。
  %dt
    2014.07.17
  %dd
    弊社主催の勉強会を毎月開催しております。今月の「<a href="http://connpass.com/event/7493/" target="_blank">月刊ライトニングトーク 2014年6月+7月号</a>」は7月24日19時から21cafeさんにて開催いたします。
  %dt
    2014.05.23
  %dd
    企画からデザイン、システムまで担当した<a href="http://uniba.jp/works/rbxfvenue/">マジでヤバいプロジェクト</a>のインスタレーションが、 5月24-25日に大阪にて開催される<a href="http://www.redbull.com/jp/ja/motorsports/offroad/stories/1331624961345/x-fighters-2014-osaka-announcement" target="_blank">Red Bull X-Fighters Osaka 2014</a>の現地会場に設置されます。
%p
  = link_to "最新情報はFacebookから", "https://www.facebook.com/UnibaInc", { :target => "_blank" }
