<div class="careers-column clearfix">
  <h3 class="background-blue">ワークスタイル</h3>
  <div class="clearfix"></div>
  <div class="workstyle-column pull-left background-blue">
    <img src="common/img/office/jhaus01.jpg" alt="ジェイハウス">
    <p>出社時間はそれぞれ個人が決めるスタイルです。チャットのオンライン、オフラインで出勤を管理したり、<a href="http://works.uniba.jp/posts/2016-04-anken-kun/" target="_blank">Google Calendarの自動集計で時間管理</a>を行っています。</p>
    <div class="clearfix"></div>
  </div>
  <div class="workstyle-column pull-right background-blue">
    <img src="common/img/office/jhaus02.jpg" alt="ジェイハウス">
    <p>作業場所はオフィス内のソファ、こたつ、フリーアドレスのデスクを使うことができます。リモートでカフェや自宅作業も可能です。</p>
    <div class="clearfix"></div>
  </div>
  <div class="workstyle-column pull-left background-blue">
    <img src="common/img/office/jhaus03.jpg" alt="駐輪場">
    <p>自転車通勤をするメンバーも多いです。自転車保険にしっかり入っていることが条件です。</p>
    <div class="clearfix"></div>
  </div>
  <div class="workstyle-column pull-right background-blue">
    <img src="common/img/office/jhaus04.jpg" alt="離れオフィス">
    <p>2017年4月、本社から徒歩1分の場所にオープンした事務所は全社員が出入り自由で、のびのびと作業ができます。</p>
    <div class="clearfix"></div>
  </div>
  <div class="workstyle-column pull-left background-blue">
    <img src="common/img/office/jhaus05.jpg" alt="サーキット・ラボA">
    <p>ハードウェアに関する業務や実験、研究を行う2つの部屋があります。A-Labでは3Dプリンタ、CNC、レーザーカッターなどの設備を利用して組立・加工に関する作業が可能です。</p>
    <div class="clearfix"></div>
  </div>
  <div class="workstyle-column pull-right background-blue">
    <img src="common/img/office/jhaus06.jpg" alt="サーキット・ラボB">
    <p>B-Labでは主に電子工作に関する作業を行います。壁一面には業務に必要な資材を揃えており、いつでもプロトタイピングを開始できる環境を用意しています。</p>
    <div class="clearfix"></div>
  </div>
</div>