#wrap-inner{

  h1{
    width: 910px;
    font-size: 167px;
    margin-left: 1px;
    margin-top: 55px;
    margin-bottom: 18px;
    line-height: 117px;
    padding: 30px 0px 1px 2px;
    color: #fff;
  }
}