#wrap-inner{

  .mb15{
    margin-bottom: 15px;
  }

  #service-text{
    font-size: 18px;
    line-height: 32px;
    padding: 3px 10px 0px 10px;
  }

  .service-column{
    margin-bottom: 20px;
    border-right: 1px solid #ffffff;
    padding: 11px 0px 6px 9px;
    h3{
      font-size: 24px;
      margin-bottom: 30px;
    }
    p{
      line-height: 21px;
      margin-bottom:31px;
    }
    .more{
      a{
        font-size: 18px;
        font-weight: bold;
        color: #FFF;
        &:hover{
          @include opacity(0.8);
        }
      }
    }
    &:hover{
      border-right: 5px solid #ffffff;
    }
  }

}