#wrap-inner{

  .mb15{
    margin-bottom: 15px;
  }

  h2 {
    @include transform(rotate(90deg));
    position: absolute;
    margin-left: -50px;
    margin-top: 10px;
    font-weight: bold;
  }

  #service-text{
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 32px;
    padding: 3px 10px 0px 10px;
  }

  #service-lists {
    padding: 4px 10px 3px 10px;
  }

  .service-column{
    margin-bottom: 20px;
    border-right: 1px solid #ffffff;
    padding: 11px 0px 6px 9px;
    h3{
      font-size: 24px;
      margin-bottom: 30px;
    }
    p{
      line-height: 21px;
      margin-bottom:31px;
    }
    .more{
      a{
        font-size: 18px;
        font-weight: bold;
        color: #FFF;
        &:hover{
          @include opacity(0.8);
        }
      }
    }
    &:hover{
      border-right: 5px solid #ffffff;
    }
  }

  .project-item{
    display: flex;
    margin-bottom: 70px;
    figure {
      img {
        max-width: 270px;
        height: auto;
        vertical-align: top;
      }
    }
    .item-detail {
      padding-left: 35px;
      h3 {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.5;
        a {
          text-decoration: underline;
        }
      }
      span {
        display: block;
        padding: 5px 0;
        font-size: 14px;
        font-weight: 300;
      }
      p {
        font-size: 14px;
        line-height: 2;
      }

      .more {
        font-size: 12px;
        text-align: right;
        line-height: 1.5;

        a {
          text-decoration: underline;
        }
      }
    }
  }

}