/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/main.scss */
.box .screenshots {
  -webkit-filter: invert(1) brightness(0.9) invert(1) contrast(1.3) grayscale(1);
}
/* line 21, ../sass/main.scss */
.box .screenshots:hover {
  -webkit-filter: none;
}

/* line 26, ../sass/main.scss */
a {
  color: #000;
  text-decoration: none;
}
/* line 29, ../sass/main.scss */
a:hover {
  text-decoration: line-through;
}

/* line 34, ../sass/main.scss */
body {
  background-color: #FFF;
  padding: 20px 0 0 60px;
  font-family: '小塚ゴシック Pro','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック','Osaka','メイリオ','Meiryo',sans-serif;
}
@media (max-width: 510px) {
  /* line 34, ../sass/main.scss */
  body {
    padding: 10px 10px 0 10px;
  }
}

/* line 43, ../sass/main.scss */
header {
  margin: 0 0 180px 0;
}
@media (max-width: 510px) {
  /* line 43, ../sass/main.scss */
  header {
    margin: 0 0 30px 0;
  }
}
/* line 48, ../sass/main.scss */
header h1, header h2 {
  text-transform: uppercase;
  font-family: 'Futura';
}
/* line 52, ../sass/main.scss */
header h1 {
  letter-spacing: 0.1em;
}
/* line 55, ../sass/main.scss */
header h1 a:hover {
  text-decoration: none;
}
/* line 60, ../sass/main.scss */
header h2 {
  margin: 30px 0 50px 0;
  font-size: 4.875em;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.15em;
  font-weight: normal;
}
@media (max-width: 900px) {
  /* line 60, ../sass/main.scss */
  header h2 {
    font-size: 4em;
  }
}
@media (max-width: 770px) {
  /* line 60, ../sass/main.scss */
  header h2 {
    font-size: 2.5em;
  }
}
@media (max-width: 510px) {
  /* line 60, ../sass/main.scss */
  header h2 {
    margin: 23px 0 25px -3px;
    font-size: 1.6em;
  }
}
/* line 78, ../sass/main.scss */
header ul {
  overflow: hidden;
}
@media (max-width: 510px) {
  /* line 78, ../sass/main.scss */
  header ul {
    display: none;
  }
}
/* line 83, ../sass/main.scss */
header ul li {
  margin: 0 30px 0 0;
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Futura W01 Medium';
  letter-spacing: 0.1em;
}
/* line 90, ../sass/main.scss */
header ul li:hover, header ul li.active {
  text-decoration: line-through;
}
/* line 93, ../sass/main.scss */
header ul li:last-child {
  margin: 0;
}
/* line 98, ../sass/main.scss */
header table {
  width: 100%;
  display: none;
}
@media (max-width: 510px) {
  /* line 98, ../sass/main.scss */
  header table {
    display: inline-table;
  }
}
/* line 104, ../sass/main.scss */
header table td {
  width: 50%;
  vertical-align: middle;
  border: 1px solid #000;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: bold;
  font-family: 'Futura W01 Medium';
  letter-spacing: 0.1em;
}
/* line 113, ../sass/main.scss */
header table td:hover {
  color: #FFF;
  background-color: #000;
}
/* line 117, ../sass/main.scss */
header table td a {
  padding: 14px 0 14px 10px;
  display: block;
}

/* line 125, ../sass/main.scss */
.box {
  margin: 0 0 40px 0;
}
/* line 127, ../sass/main.scss */
.box h3 {
  display: inline-block;
  margin: 0 0 9px 0;
  padding: 4px 6px 3px 4px;
  background-color: #000;
  color: #FFF;
  font-size: 0.9em;
  font-family: 'Futura W01 Medium';
  font-style: italic;
  letter-spacing: 0.1em;
}
@media (max-width: 510px) {
  /* line 127, ../sass/main.scss */
  .box h3 {
    padding: 4px 4px 3px 4px;
  }
}
/* line 141, ../sass/main.scss */
.box .screenshots {
  /*     height: 130px; */
  overflow-x: hidden;
  overflow-y: hidden;
}
@media (max-width: 770px) {
  /* line 141, ../sass/main.scss */
  .box .screenshots {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
@media (max-width: 510px) {
  /* line 141, ../sass/main.scss */
  .box .screenshots {
    overflow: hidden;
  }
}
/* line 154, ../sass/main.scss */
.box .screenshots ul {
  width: 2330px;
  height: 130px;
  position: relative;
  line-height: 0;
}
@media (max-width: 510px) {
  /* line 154, ../sass/main.scss */
  .box .screenshots ul {
    width: 100%;
    height: auto;
    min-height: 130px;
  }
}
/* line 164, ../sass/main.scss */
.box .screenshots ul li {
  margin: 0 -3px 0 0;
  position: absolute;
}
/* line 168, ../sass/main.scss */
.box .screenshots ul li:nth-child(1) {
  left: 0px;
}
/* line 168, ../sass/main.scss */
.box .screenshots ul li:nth-child(2) {
  left: 233px;
}
/* line 168, ../sass/main.scss */
.box .screenshots ul li:nth-child(3) {
  left: 466px;
}
/* line 168, ../sass/main.scss */
.box .screenshots ul li:nth-child(4) {
  left: 699px;
}
/* line 168, ../sass/main.scss */
.box .screenshots ul li:nth-child(5) {
  left: 932px;
}
/* line 168, ../sass/main.scss */
.box .screenshots ul li:nth-child(6) {
  left: 1165px;
}
/* line 168, ../sass/main.scss */
.box .screenshots ul li:nth-child(7) {
  left: 1398px;
}
/* line 168, ../sass/main.scss */
.box .screenshots ul li:nth-child(8) {
  left: 1631px;
}
/* line 168, ../sass/main.scss */
.box .screenshots ul li:nth-child(9) {
  left: 1864px;
}
/* line 168, ../sass/main.scss */
.box .screenshots ul li:nth-child(10) {
  left: 2097px;
}
/* line 168, ../sass/main.scss */
.box .screenshots ul li:nth-child(11) {
  left: 2330px;
}
@media (max-width: 510px) {
  /* line 164, ../sass/main.scss */
  .box .screenshots ul li {
    position: static;
  }
  /* line 175, ../sass/main.scss */
  .box .screenshots ul li:nth-child(2) {
    display: none;
  }
  /* line 175, ../sass/main.scss */
  .box .screenshots ul li:nth-child(3) {
    display: none;
  }
  /* line 175, ../sass/main.scss */
  .box .screenshots ul li:nth-child(4) {
    display: none;
  }
  /* line 175, ../sass/main.scss */
  .box .screenshots ul li:nth-child(5) {
    display: none;
  }
  /* line 175, ../sass/main.scss */
  .box .screenshots ul li:nth-child(6) {
    display: none;
  }
  /* line 175, ../sass/main.scss */
  .box .screenshots ul li:nth-child(7) {
    display: none;
  }
  /* line 175, ../sass/main.scss */
  .box .screenshots ul li:nth-child(8) {
    display: none;
  }
  /* line 175, ../sass/main.scss */
  .box .screenshots ul li:nth-child(9) {
    display: none;
  }
  /* line 175, ../sass/main.scss */
  .box .screenshots ul li:nth-child(10) {
    display: none;
  }
  /* line 175, ../sass/main.scss */
  .box .screenshots ul li:nth-child(11) {
    display: none;
  }
}
/* line 180, ../sass/main.scss */
.box .screenshots ul li img {
  margin: 0;
  padding: 0;
}
@media (max-width: 510px) {
  /* line 180, ../sass/main.scss */
  .box .screenshots ul li img {
    width: 100%;
    height: auto;
  }
}
/* line 191, ../sass/main.scss */
.box .title {
  margin: 9px 0 0 0;
  font-size: 1em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

/* line 199, ../sass/main.scss */
footer {
  margin: 85px 60px 40px 0;
}
/* line 201, ../sass/main.scss */
footer .button {
  border: 1px solid #000;
  width: 100%;
  height: 80px;
}
/* line 205, ../sass/main.scss */
footer .button:hover {
  background-color: #000;
}
/* line 208, ../sass/main.scss */
footer .button a {
  padding: 30px 0 0 0;
  width: 100%;
  height: 50px;
  display: block;
  font-size: 1.1em;
  color: #000;
  text-decoration: none;
  font-family: 'Futura W01 Medium';
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
/* line 220, ../sass/main.scss */
footer .button a:hover {
  color: #FFF;
}
/* line 223, ../sass/main.scss */
footer .button a span {
  width: 100%;
  height: 80px;
}
