@charset "UTF-8";
/* line 17, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 15, ../sass/_variables.scss */
.clearfix:before, .clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both; }
/* line 24, ../sass/_variables.scss */
.clearfix {
  zoom: 1; }

/* line 57, ../sass/_variables.scss */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 60, ../sass/_variables.scss */
.content-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box; }

/* line 65, ../sass/_variables.scss */
.pull-left {
  float: left; }

/* line 68, ../sass/_variables.scss */
.pull-right {
  float: right; }

/* line 71, ../sass/_variables.scss */
.pull-center {
  margin-left: auto;
  margin-right: auto; }

/* line 77, ../sass/_variables.scss */
.align-center {
  text-align: center; }

/* line 80, ../sass/_variables.scss */
.align-left {
  text-align: left; }

/* line 83, ../sass/_variables.scss */
.align-right {
  text-align: right; }

/* line 88, ../sass/_variables.scss */
.strong {
  font-weight: bold; }

/* line 129, ../sass/_variables.scss */
.column1 {
  width: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 133, ../sass/_variables.scss */
.column1-half {
  width: 120px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 150, ../sass/_variables.scss */
.offset1 {
  margin-left: 80px; }

/* line 153, ../sass/_variables.scss */
.offset-right1 {
  margin-right: 80px; }

/* line 129, ../sass/_variables.scss */
.column2 {
  width: 160px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 133, ../sass/_variables.scss */
.column2-half {
  width: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 150, ../sass/_variables.scss */
.offset2 {
  margin-left: 160px; }

/* line 153, ../sass/_variables.scss */
.offset-right2 {
  margin-right: 160px; }

/* line 129, ../sass/_variables.scss */
.column3 {
  width: 240px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 133, ../sass/_variables.scss */
.column3-half {
  width: 280px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 150, ../sass/_variables.scss */
.offset3 {
  margin-left: 240px; }

/* line 153, ../sass/_variables.scss */
.offset-right3 {
  margin-right: 240px; }

/* line 129, ../sass/_variables.scss */
.column4 {
  width: 320px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 133, ../sass/_variables.scss */
.column4-half {
  width: 360px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 150, ../sass/_variables.scss */
.offset4 {
  margin-left: 320px; }

/* line 153, ../sass/_variables.scss */
.offset-right4 {
  margin-right: 320px; }

/* line 129, ../sass/_variables.scss */
.column5 {
  width: 400px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 133, ../sass/_variables.scss */
.column5-half {
  width: 440px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 150, ../sass/_variables.scss */
.offset5 {
  margin-left: 400px; }

/* line 153, ../sass/_variables.scss */
.offset-right5 {
  margin-right: 400px; }

/* line 129, ../sass/_variables.scss */
.column6 {
  width: 480px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 133, ../sass/_variables.scss */
.column6-half {
  width: 520px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 150, ../sass/_variables.scss */
.offset6 {
  margin-left: 480px; }

/* line 153, ../sass/_variables.scss */
.offset-right6 {
  margin-right: 480px; }

/* line 129, ../sass/_variables.scss */
.column7 {
  width: 560px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 133, ../sass/_variables.scss */
.column7-half {
  width: 600px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 150, ../sass/_variables.scss */
.offset7 {
  margin-left: 560px; }

/* line 153, ../sass/_variables.scss */
.offset-right7 {
  margin-right: 560px; }

/* line 129, ../sass/_variables.scss */
.column8 {
  width: 640px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 133, ../sass/_variables.scss */
.column8-half {
  width: 680px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 150, ../sass/_variables.scss */
.offset8 {
  margin-left: 640px; }

/* line 153, ../sass/_variables.scss */
.offset-right8 {
  margin-right: 640px; }

/* line 129, ../sass/_variables.scss */
.column9 {
  width: 720px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 133, ../sass/_variables.scss */
.column9-half {
  width: 760px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 150, ../sass/_variables.scss */
.offset9 {
  margin-left: 720px; }

/* line 153, ../sass/_variables.scss */
.offset-right9 {
  margin-right: 720px; }

/* line 129, ../sass/_variables.scss */
.column10 {
  width: 800px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 133, ../sass/_variables.scss */
.column10-half {
  width: 840px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 150, ../sass/_variables.scss */
.offset10 {
  margin-left: 800px; }

/* line 153, ../sass/_variables.scss */
.offset-right10 {
  margin-right: 800px; }

/* line 129, ../sass/_variables.scss */
.column11 {
  width: 880px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 133, ../sass/_variables.scss */
.column11-half {
  width: 920px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 150, ../sass/_variables.scss */
.offset11 {
  margin-left: 880px; }

/* line 153, ../sass/_variables.scss */
.offset-right11 {
  margin-right: 880px; }

/* line 129, ../sass/_variables.scss */
.column12 {
  width: 960px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 133, ../sass/_variables.scss */
.column12-half {
  width: 1000px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 150, ../sass/_variables.scss */
.offset12 {
  margin-left: 960px; }

/* line 153, ../sass/_variables.scss */
.offset-right12 {
  margin-right: 960px; }

/* line 129, ../sass/_variables.scss */
.column13 {
  width: 1040px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 133, ../sass/_variables.scss */
.column13-half {
  width: 1080px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 150, ../sass/_variables.scss */
.offset13 {
  margin-left: 1040px; }

/* line 153, ../sass/_variables.scss */
.offset-right13 {
  margin-right: 1040px; }

/* line 129, ../sass/_variables.scss */
.column14 {
  width: 1120px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 133, ../sass/_variables.scss */
.column14-half {
  width: 1160px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 150, ../sass/_variables.scss */
.offset14 {
  margin-left: 1120px; }

/* line 153, ../sass/_variables.scss */
.offset-right14 {
  margin-right: 1120px; }

/* line 129, ../sass/_variables.scss */
.column15 {
  width: 1200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 133, ../sass/_variables.scss */
.column15-half {
  width: 1240px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 150, ../sass/_variables.scss */
.offset15 {
  margin-left: 1200px; }

/* line 153, ../sass/_variables.scss */
.offset-right15 {
  margin-right: 1200px; }

/* line 129, ../sass/_variables.scss */
.column16 {
  width: 1280px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 133, ../sass/_variables.scss */
.column16-half {
  width: 1320px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 150, ../sass/_variables.scss */
.offset16 {
  margin-left: 1280px; }

/* line 153, ../sass/_variables.scss */
.offset-right16 {
  margin-right: 1280px; }

/* line 168, ../sass/_variables.scss */
.mac .indent-half-em {
  margin-left: 0.5em; }

/* line 171, ../sass/_variables.scss */
.mac .indent-minus-half-em {
  margin-left: -0.5em; }

/* line 17, ../sass/style.scss */
html {
  width: 100%;
  height: 100%; }

/* line 21, ../sass/style.scss */
body {
  width: 100%;
  height: 100%;
  position: relative;
  height: auto !important;
  min-height: 100%;
  color: #3126f5;
  background-color: #3126f5;
  font-family: Helvetica,Arial,'YuGothic','游ゴシック','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',Sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: none; }
  /* line 46, ../sass/style.scss */
  body#firstpage {
    @-ms-keyframes spin {
      /* line 90, ../sass/_canvas.scss */
      from {
        -ms-transform: rotate(0deg); }

      /* line 91, ../sass/_canvas.scss */
      to {
        -ms-transform: rotate(360deg); } }

    @-moz-keyframes spin {
      /* line 94, ../sass/_canvas.scss */
      from {
        -moz-transform: rotate(0deg); }

      /* line 95, ../sass/_canvas.scss */
      to {
        -moz-transform: rotate(360deg); } }

    @-webkit-keyframes spin {
      /* line 98, ../sass/_canvas.scss */
      from {
        -webkit-transform: rotate(0deg); }

      /* line 99, ../sass/_canvas.scss */
      to {
        -webkit-transform: rotate(360deg); } }

    @keyframes spin {
      /* line 102, ../sass/_canvas.scss */
      from {
        transform: rotate(0deg); }

      /* line 105, ../sass/_canvas.scss */
      to {
        transform: rotate(360deg); } }
 }
    /* line 1, ../sass/_canvas.scss */
    body#firstpage body {
      font-family: Arial, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
      background-color: #3126f5;
      margin: 0 !important;
      padding: 0 !important;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: 100%; }
    /* line 11, ../sass/_canvas.scss */
    body#firstpage .iframe_wrap {
      width: 1024px;
      height: 600px;
      overflow: hidden;
      z-index: 1;
      background: url("../img/canvas/safari_head.png") no-repeat;
      background-size: 1024px 39px; }
    /* line 19, ../sass/_canvas.scss */
    body#firstpage .iframe_wrap iframe {
      width: 1024px;
      height: 600px;
      padding-top: 40px;
      overflow: hidden;
      z-index: 999; }
    /* line 26, ../sass/_canvas.scss */
    body#firstpage .sp .iframe_wrap {
      width: 375px;
      height: 627px;
      overflow: hidden;
      z-index: 1;
      background: url("../img/canvas/iphone_head.png") no-repeat;
      background-size: 375px 40px; }
    /* line 34, ../sass/_canvas.scss */
    body#firstpage .sp .iframe_wrap iframe {
      width: 375px;
      height: 667px;
      position: relative;
      overflow: hidden;
      z-index: 99;
      -webkit-overflow-scrolling: touch; }
    /* line 42, ../sass/_canvas.scss */
    body#firstpage canvas {
      z-index: 0;
      position: relative; }
    /* line 46, ../sass/_canvas.scss */
    body#firstpage .sp canvas {
      z-index: 99; }
    /* line 49, ../sass/_canvas.scss */
    body#firstpage #svp {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
      overflow: hidden; }
    /* line 56, ../sass/_canvas.scss */
    body#firstpage #loading {
      color: #ffffff;
      width: 80px;
      height: 80px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      padding: 0 0 33px 0;
      position: absolute;
      font-size: 80px;
      text-align: center;
      z-index: 1;
      -webkit-animation-name: spin;
      -webkit-animation-duration: 1000ms;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-name: spin;
      -moz-animation-duration: 1000ms;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
      -ms-animation-name: spin;
      -ms-animation-duration: 1000ms;
      -ms-animation-iteration-count: infinite;
      -ms-animation-timing-function: linear;
      animation-name: spin;
      animation-duration: 1000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }
    /* line 109, ../sass/_canvas.scss */
    body#firstpage #progress {
      text-align: center;
      position: absolute;
      background: #3126f5;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 0; }
    /* line 120, ../sass/_canvas.scss */
    body#firstpage #progress .progress_inner {
      margin: 40% auto 0;
      background: #3126f5;
      color: #fff;
      max-width: 150px;
      padding: 10px; }
  /* line 1, ../sass/_top.scss */
  body div#top #wrap-inner {
    min-width: 980px; }
    /* line 5, ../sass/_top.scss */
    body div#top #wrap-inner h2, body div#top #wrap-inner h1, body div#top #wrap-inner #enter-container, body div#top #wrap-inner #copyright {
      font-weight: bold; }
    /* line 9, ../sass/_top.scss */
    body div#top #wrap-inner h2 {
      font-size: 20px;
      line-height: 20px;
      float: left;
      padding: 11px 13px 6px 15px; }
    /* line 15, ../sass/_top.scss */
    body div#top #wrap-inner h1 {
      width: 910px;
      font-size: 167px;
      margin-left: 1px;
      margin-top: 55px;
      margin-bottom: 18px;
      line-height: 117px;
      padding: 30px 0px 1px 2px; }
    /* line 25, ../sass/_top.scss */
    body div#top #wrap-inner #title {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -110px;
      margin-left: -440px; }
      /* line 33, ../sass/_top.scss */
      body div#top #wrap-inner #title #enter-container a {
        z-index: 500;
        position: absolute; }
        /* line 36, ../sass/_top.scss */
        body div#top #wrap-inner #title #enter-container a #enter-button {
          z-index: 500;
          position: absolute;
          width: 413px;
          height: 64px;
          float: right;
          font-size: 78px;
          padding: 9px 10px 8px 0px; }
          /* line 44, ../sass/_top.scss */
          body div#top #wrap-inner #title #enter-container a #enter-button:hover {
            z-index: 500;
            position: absolute; }
    /* line 54, ../sass/_top.scss */
    body div#top #wrap-inner #copyright {
      position: absolute;
      bottom: 17px;
      left: 50%;
      margin-left: -442px;
      padding: 10px 10px 7px 10px; }
      /* line 60, ../sass/_top.scss */
      body div#top #wrap-inner #copyright #site-design {
        margin-top: 6px; }
  @media only screen and (max-width: 640px) {
    /* line 68, ../sass/_top.scss */
    body div#top #wrap-inner {
      min-width: 100%; }
      /* line 72, ../sass/_top.scss */
      body div#top #wrap-inner h2, body div#top #wrap-inner h1, body div#top #wrap-inner #enter-container, body div#top #wrap-inner #copyright {
        font-weight: bold; }
      /* line 76, ../sass/_top.scss */
      body div#top #wrap-inner h2 {
        font-size: 20px;
        line-height: 20px;
        float: left;
        padding: 11px 13px 6px 10px; }
      /* line 82, ../sass/_top.scss */
      body div#top #wrap-inner h1 {
        width: auto;
        font-size: 100px;
        margin-left: 0px;
        margin-top: 35px;
        margin-bottom: 18px;
        line-height: 107px;
        padding: 30px 0px 1px 2px; }
      /* line 92, ../sass/_top.scss */
      body div#top #wrap-inner #title {
        position: absolute;
        top: 0%;
        left: 0%;
        margin-top: 0px;
        margin-left: 0px; }
        /* line 100, ../sass/_top.scss */
        body div#top #wrap-inner #title #enter-container a {
          z-index: 500;
          position: absolute; }
          /* line 103, ../sass/_top.scss */
          body div#top #wrap-inner #title #enter-container a #enter-button {
            z-index: 500;
            position: absolute;
            width: auto;
            height: 64px;
            float: right;
            font-size: 78px;
            padding: 9px 10px 8px 2px; }
            /* line 111, ../sass/_top.scss */
            body div#top #wrap-inner #title #enter-container a #enter-button:hover {
              z-index: 500;
              position: absolute; }
      /* line 121, ../sass/_top.scss */
      body div#top #wrap-inner #copyright {
        position: absolute;
        bottom: 17px;
        left: 0;
        margin-left: 0;
        padding: 10px 10px 7px 10px;
        width: auto; }
        /* line 128, ../sass/_top.scss */
        body div#top #wrap-inner #copyright #site-design {
          margin-top: 6px; } }
  /* line 1, ../sass/_inner.scss */
  body div#home #wrap-inner {
    padding: 0px 40px 0 40px;
    max-width: 980px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 500; }
    /* line 8, ../sass/_inner.scss */
    body div#home #wrap-inner #header h1 {
      font-weight: bold;
      margin-bottom: 37px;
      float: left;
      padding: 10px 10px 7px 10px; }
      /* line 13, ../sass/_inner.scss */
      body div#home #wrap-inner #header h1 a {
        font-size: 12px; }
    /* line 18, ../sass/_inner.scss */
    body div#home #wrap-inner #header #glb-nav {
      font-weight: bold;
      margin-bottom: 70px; }
      /* line 22, ../sass/_inner.scss */
      body div#home #wrap-inner #header #glb-nav ul li {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 9px 10px 4px 10px; }
        /* line 27, ../sass/_inner.scss */
        body div#home #wrap-inner #header #glb-nav ul li a {
          font-size: 20px; }
    /* line 34, ../sass/_inner.scss */
    body div#home #wrap-inner #contents {
      padding-bottom: 268px; }
    /* line 37, ../sass/_inner.scss */
    body div#home #wrap-inner #footer {
      position: absolute;
      bottom: 0;
      height: 208px; }
      /* line 42, ../sass/_inner.scss */
      body div#home #wrap-inner #footer .links-grid li {
        float: left;
        font-weight: bold;
        margin-right: 10px;
        padding: 10px 7px 7px 10px; }
      /* line 49, ../sass/_inner.scss */
      body div#home #wrap-inner #footer address {
        margin-top: 20px; }
        /* line 52, ../sass/_inner.scss */
        body div#home #wrap-inner #footer address ul {
          float: left;
          margin-right: 10px; }
          /* line 55, ../sass/_inner.scss */
          body div#home #wrap-inner #footer address ul li {
            margin-bottom: 10px;
            padding: 10px 9px 8px 10px; }
      /* line 61, ../sass/_inner.scss */
      body div#home #wrap-inner #footer #copyright {
        margin-top: 10px; }
        /* line 63, ../sass/_inner.scss */
        body div#home #wrap-inner #footer #copyright p {
          float: left;
          margin-right: 10px;
          padding: 10px 10px 7px 10px; }
  @media only screen and (max-width: 640px) {
    /* line 73, ../sass/_inner.scss */
    body div#home #wrap-inner {
      padding: 0px 20px; }
      /* line 76, ../sass/_inner.scss */
      body div#home #wrap-inner #header #glb-nav {
        margin-bottom: 30px; }
      /* line 80, ../sass/_inner.scss */
      body div#home #wrap-inner #contents {
        padding-bottom: 40px; }
      /* line 83, ../sass/_inner.scss */
      body div#home #wrap-inner #footer {
        position: relative;
        bottom: 40px;
        height: auto; }
        /* line 88, ../sass/_inner.scss */
        body div#home #wrap-inner #footer .links-grid li {
          margin-bottom: 10px; }
        /* line 92, ../sass/_inner.scss */
        body div#home #wrap-inner #footer address {
          margin-top: 10px; }
          /* line 94, ../sass/_inner.scss */
          body div#home #wrap-inner #footer address ul {
            float: left;
            margin-right: 0px; } }
  /* line 2, ../sass/_home.scss */
  body div#home #wrap-inner h2 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    margin-left: -50px;
    margin-top: 10px;
    font-weight: bold; }
  /* line 10, ../sass/_home.scss */
  body div#home #wrap-inner #contents {
    margin-top: 2px; }
  /* line 14, ../sass/_home.scss */
  body div#home #wrap-inner #news {
    margin-bottom: 40px; }
    /* line 16, ../sass/_home.scss */
    body div#home #wrap-inner #news h2 {
      margin-left: -51px;
      margin-top: 11px;
      padding: 10px 10px 7px 10px; }
    /* line 22, ../sass/_home.scss */
    body div#home #wrap-inner #news dl dt {
      float: left;
      margin-right: 30px;
      padding: 10px 10px 7px 10px; }
    /* line 27, ../sass/_home.scss */
    body div#home #wrap-inner #news dl dd {
      padding-left: 90px;
      margin-bottom: 10px;
      line-height: 21px;
      padding: 6px 10px 2px 10px; }
  /* line 37, ../sass/_home.scss */
  body div#home #wrap-inner #members h2 {
    margin-left: -62px;
    margin-top: 22px;
    padding: 10px 10px 7px 10px; }
  /* line 43, ../sass/_home.scss */
  body div#home #wrap-inner #members ul li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 293px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px; }
    /* line 50, ../sass/_home.scss */
    body div#home #wrap-inner #members ul li img {
      width: 60px;
      height: 60px;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #ccc; }
    /* line 57, ../sass/_home.scss */
    body div#home #wrap-inner #members ul li h4 {
      float: left; }
    /* line 58, ../sass/_home.scss */
    body div#home #wrap-inner #members ul li .jp {
      font-size: 14px;
      margin-top: 14px;
      margin-left: 15px; }
    /* line 63, ../sass/_home.scss */
    body div#home #wrap-inner #members ul li .en {
      color: #cccccc;
      margin-top: 15px;
      margin-left: 10px; }
    /* line 68, ../sass/_home.scss */
    body div#home #wrap-inner #members ul li .division {
      margin-top: 37px;
      margin-left: 75px; }
    /* line 72, ../sass/_home.scss */
    body div#home #wrap-inner #members ul li.ml-0 {
      margin-right: 0px; }
  /* line 79, ../sass/_home.scss */
  body div#home #wrap-inner #client-partners {
    margin-top: 39px; }
    /* line 81, ../sass/_home.scss */
    body div#home #wrap-inner #client-partners h2 {
      margin-top: 41px;
      margin-left: -81px;
      padding: 10px 10px 7px 10px; }
    /* line 87, ../sass/_home.scss */
    body div#home #wrap-inner #client-partners ul li {
      font-size: 20px;
      margin-bottom: 10px;
      float: left;
      padding: 10px 10px 6px 10px; }
      /* line 92, ../sass/_home.scss */
      body div#home #wrap-inner #client-partners ul li a {
        font-size: 20px; }
  @media only screen and (max-width: 980px) {
    /* line 105, ../sass/_home.scss */
    body div#home #wrap-inner #members ul li.ml-0 {
      margin-right: 10px; } }
  @media only screen and (max-width: 935px) {
    /* line 114, ../sass/_home.scss */
    body div#home #wrap-inner #news {
      margin-bottom: 40px; }
      /* line 117, ../sass/_home.scss */
      body div#home #wrap-inner #news dl dt {
        width: 16.5%;
        float: none;
        margin-right: 30px;
        padding: 10px 10px 7px 10px; }
      /* line 123, ../sass/_home.scss */
      body div#home #wrap-inner #news dl dd {
        padding-left: 0px;
        margin-bottom: 10px;
        line-height: 21px;
        padding: 6px 10px 2px 10px; } }
  @media only screen and (max-width: 640px) {
    /* line 135, ../sass/_home.scss */
    body div#home #wrap-inner h2 {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      position: relative;
      margin-left: 0px;
      margin-top: 10px;
      font-weight: bold; }
    /* line 143, ../sass/_home.scss */
    body div#home #wrap-inner #news {
      margin-bottom: 8px; }
      /* line 145, ../sass/_home.scss */
      body div#home #wrap-inner #news h2 {
        margin-left: 0px;
        margin-bottom: 10px;
        padding: 10px 10px 7px 10px; }
      /* line 151, ../sass/_home.scss */
      body div#home #wrap-inner #news dl dt {
        width: 16.5%;
        float: none;
        margin-right: 30px;
        padding: 10px 10px 7px 10px; }
      /* line 157, ../sass/_home.scss */
      body div#home #wrap-inner #news dl dd {
        padding-left: 0px;
        margin-bottom: 10px;
        line-height: 21px;
        padding: 6px 10px 2px 10px; }
    /* line 167, ../sass/_home.scss */
    body div#home #wrap-inner #members h2 {
      margin-top: 26px;
      margin-left: 0px;
      margin-bottom: 10px;
      padding: 10px 10px 7px 10px; }
    /* line 174, ../sass/_home.scss */
    body div#home #wrap-inner #members ul li {
      width: 100%; }
    /* line 180, ../sass/_home.scss */
    body div#home #wrap-inner #client-partners {
      margin-top: 39px; }
      /* line 182, ../sass/_home.scss */
      body div#home #wrap-inner #client-partners h2 {
        margin-top: -9px;
        margin-left: 0px;
        margin-bottom: 10px;
        padding: 10px 10px 7px 10px; } }
  /* line 1, ../sass/_inner.scss */
  body div#about #wrap-inner {
    padding: 0px 40px 0 40px;
    max-width: 980px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 500; }
    /* line 8, ../sass/_inner.scss */
    body div#about #wrap-inner #header h1 {
      font-weight: bold;
      margin-bottom: 37px;
      float: left;
      padding: 10px 10px 7px 10px; }
      /* line 13, ../sass/_inner.scss */
      body div#about #wrap-inner #header h1 a {
        font-size: 12px; }
    /* line 18, ../sass/_inner.scss */
    body div#about #wrap-inner #header #glb-nav {
      font-weight: bold;
      margin-bottom: 70px; }
      /* line 22, ../sass/_inner.scss */
      body div#about #wrap-inner #header #glb-nav ul li {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 9px 10px 4px 10px; }
        /* line 27, ../sass/_inner.scss */
        body div#about #wrap-inner #header #glb-nav ul li a {
          font-size: 20px; }
    /* line 34, ../sass/_inner.scss */
    body div#about #wrap-inner #contents {
      padding-bottom: 268px; }
    /* line 37, ../sass/_inner.scss */
    body div#about #wrap-inner #footer {
      position: absolute;
      bottom: 0;
      height: 208px; }
      /* line 42, ../sass/_inner.scss */
      body div#about #wrap-inner #footer .links-grid li {
        float: left;
        font-weight: bold;
        margin-right: 10px;
        padding: 10px 7px 7px 10px; }
      /* line 49, ../sass/_inner.scss */
      body div#about #wrap-inner #footer address {
        margin-top: 20px; }
        /* line 52, ../sass/_inner.scss */
        body div#about #wrap-inner #footer address ul {
          float: left;
          margin-right: 10px; }
          /* line 55, ../sass/_inner.scss */
          body div#about #wrap-inner #footer address ul li {
            margin-bottom: 10px;
            padding: 10px 9px 8px 10px; }
      /* line 61, ../sass/_inner.scss */
      body div#about #wrap-inner #footer #copyright {
        margin-top: 10px; }
        /* line 63, ../sass/_inner.scss */
        body div#about #wrap-inner #footer #copyright p {
          float: left;
          margin-right: 10px;
          padding: 10px 10px 7px 10px; }
  @media only screen and (max-width: 640px) {
    /* line 73, ../sass/_inner.scss */
    body div#about #wrap-inner {
      padding: 0px 20px; }
      /* line 76, ../sass/_inner.scss */
      body div#about #wrap-inner #header #glb-nav {
        margin-bottom: 30px; }
      /* line 80, ../sass/_inner.scss */
      body div#about #wrap-inner #contents {
        padding-bottom: 40px; }
      /* line 83, ../sass/_inner.scss */
      body div#about #wrap-inner #footer {
        position: relative;
        bottom: 40px;
        height: auto; }
        /* line 88, ../sass/_inner.scss */
        body div#about #wrap-inner #footer .links-grid li {
          margin-bottom: 10px; }
        /* line 92, ../sass/_inner.scss */
        body div#about #wrap-inner #footer address {
          margin-top: 10px; }
          /* line 94, ../sass/_inner.scss */
          body div#about #wrap-inner #footer address ul {
            float: left;
            margin-right: 0px; } }
  /* line 3, ../sass/_about.scss */
  body div#about #wrap-inner #about-text {
    font-size: 18px;
    line-height: 32px;
    width: 51.2%;
    letter-spacing: -0.02em;
    float: left;
    padding: 4px 10px 3px 10px; }
    /* line 10, ../sass/_about.scss */
    body div#about #wrap-inner #about-text span {
      letter-spacing: 0.02em; }
  /* line 15, ../sass/_about.scss */
  body div#about #wrap-inner #about-company {
    float: right;
    width: 41.3%;
    padding: 12px 0px 0px 10px; }
    /* line 20, ../sass/_about.scss */
    body div#about #wrap-inner #about-company dl dt {
      font-weight: bold;
      float: left;
      text-align: right;
      width: 48px;
      margin-bottom: 10px; }
    /* line 27, ../sass/_about.scss */
    body div#about #wrap-inner #about-company dl dd {
      float: right;
      width: 305px;
      margin-bottom: 10px; }
  @media only screen and (max-width: 935px) {
    /* line 36, ../sass/_about.scss */
    body div#about #wrap-inner #about-company {
      float: right;
      width: 41.3%;
      padding: 12px 0px 0px 10px; }
      /* line 41, ../sass/_about.scss */
      body div#about #wrap-inner #about-company dl dt {
        font-weight: bold;
        clear: both;
        text-align: left;
        width: 48px;
        margin-bottom: 10px; }
      /* line 48, ../sass/_about.scss */
      body div#about #wrap-inner #about-company dl dd {
        clear: both;
        width: 100%;
        text-align: left;
        margin-bottom: 10px; } }
  @media only screen and (max-width: 640px) {
    /* line 60, ../sass/_about.scss */
    body div#about #wrap-inner #about-text {
      font-size: 18px;
      line-height: 32px;
      width: auto;
      letter-spacing: -0.02em;
      float: none;
      padding: 4px 10px 3px 10px;
      margin-bottom: 20px; }
      /* line 68, ../sass/_about.scss */
      body div#about #wrap-inner #about-text span {
        letter-spacing: 0.02em; }
    /* line 73, ../sass/_about.scss */
    body div#about #wrap-inner #about-company {
      float: none;
      width: auto;
      padding: 10px 10px 0px 10px; }
      /* line 78, ../sass/_about.scss */
      body div#about #wrap-inner #about-company dl dt {
        font-weight: bold;
        clear: both;
        text-align: left;
        width: 48px;
        margin-bottom: 10px; }
      /* line 85, ../sass/_about.scss */
      body div#about #wrap-inner #about-company dl dd {
        clear: both;
        width: 100%;
        text-align: left;
        margin-bottom: 10px; } }
  /* line 1, ../sass/_inner.scss */
  body div#service #wrap-inner {
    padding: 0px 40px 0 40px;
    max-width: 980px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 500; }
    /* line 8, ../sass/_inner.scss */
    body div#service #wrap-inner #header h1 {
      font-weight: bold;
      margin-bottom: 37px;
      float: left;
      padding: 10px 10px 7px 10px; }
      /* line 13, ../sass/_inner.scss */
      body div#service #wrap-inner #header h1 a {
        font-size: 12px; }
    /* line 18, ../sass/_inner.scss */
    body div#service #wrap-inner #header #glb-nav {
      font-weight: bold;
      margin-bottom: 70px; }
      /* line 22, ../sass/_inner.scss */
      body div#service #wrap-inner #header #glb-nav ul li {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 9px 10px 4px 10px; }
        /* line 27, ../sass/_inner.scss */
        body div#service #wrap-inner #header #glb-nav ul li a {
          font-size: 20px; }
    /* line 34, ../sass/_inner.scss */
    body div#service #wrap-inner #contents {
      padding-bottom: 268px; }
    /* line 37, ../sass/_inner.scss */
    body div#service #wrap-inner #footer {
      position: absolute;
      bottom: 0;
      height: 208px; }
      /* line 42, ../sass/_inner.scss */
      body div#service #wrap-inner #footer .links-grid li {
        float: left;
        font-weight: bold;
        margin-right: 10px;
        padding: 10px 7px 7px 10px; }
      /* line 49, ../sass/_inner.scss */
      body div#service #wrap-inner #footer address {
        margin-top: 20px; }
        /* line 52, ../sass/_inner.scss */
        body div#service #wrap-inner #footer address ul {
          float: left;
          margin-right: 10px; }
          /* line 55, ../sass/_inner.scss */
          body div#service #wrap-inner #footer address ul li {
            margin-bottom: 10px;
            padding: 10px 9px 8px 10px; }
      /* line 61, ../sass/_inner.scss */
      body div#service #wrap-inner #footer #copyright {
        margin-top: 10px; }
        /* line 63, ../sass/_inner.scss */
        body div#service #wrap-inner #footer #copyright p {
          float: left;
          margin-right: 10px;
          padding: 10px 10px 7px 10px; }
  @media only screen and (max-width: 640px) {
    /* line 73, ../sass/_inner.scss */
    body div#service #wrap-inner {
      padding: 0px 20px; }
      /* line 76, ../sass/_inner.scss */
      body div#service #wrap-inner #header #glb-nav {
        margin-bottom: 30px; }
      /* line 80, ../sass/_inner.scss */
      body div#service #wrap-inner #contents {
        padding-bottom: 40px; }
      /* line 83, ../sass/_inner.scss */
      body div#service #wrap-inner #footer {
        position: relative;
        bottom: 40px;
        height: auto; }
        /* line 88, ../sass/_inner.scss */
        body div#service #wrap-inner #footer .links-grid li {
          margin-bottom: 10px; }
        /* line 92, ../sass/_inner.scss */
        body div#service #wrap-inner #footer address {
          margin-top: 10px; }
          /* line 94, ../sass/_inner.scss */
          body div#service #wrap-inner #footer address ul {
            float: left;
            margin-right: 0px; } }
  /* line 3, ../sass/_service.scss */
  body div#service #wrap-inner .mb15 {
    margin-bottom: 15px; }
  /* line 7, ../sass/_service.scss */
  body div#service #wrap-inner .service-column {
    margin-bottom: 20px;
    border-right: 1px solid #ffffff;
    padding: 11px 0px 6px 9px; }
    /* line 11, ../sass/_service.scss */
    body div#service #wrap-inner .service-column h3 {
      font-size: 24px;
      margin-bottom: 30px; }
    /* line 15, ../sass/_service.scss */
    body div#service #wrap-inner .service-column p {
      line-height: 21px;
      margin-bottom: 31px; }
    /* line 20, ../sass/_service.scss */
    body div#service #wrap-inner .service-column .more a {
      font-size: 18px;
      font-weight: bold;
      color: #FFF; }
      /* line 24, ../sass/_service.scss */
      body div#service #wrap-inner .service-column .more a:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
        opacity: 0.8; }
    /* line 29, ../sass/_service.scss */
    body div#service #wrap-inner .service-column:hover {
      border-right: 5px solid #ffffff; }
  /* line 1, ../sass/_inner.scss */
  body div#recruit #wrap-inner {
    padding: 0px 40px 0 40px;
    max-width: 980px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 500; }
    /* line 8, ../sass/_inner.scss */
    body div#recruit #wrap-inner #header h1 {
      font-weight: bold;
      margin-bottom: 37px;
      float: left;
      padding: 10px 10px 7px 10px; }
      /* line 13, ../sass/_inner.scss */
      body div#recruit #wrap-inner #header h1 a {
        font-size: 12px; }
    /* line 18, ../sass/_inner.scss */
    body div#recruit #wrap-inner #header #glb-nav {
      font-weight: bold;
      margin-bottom: 70px; }
      /* line 22, ../sass/_inner.scss */
      body div#recruit #wrap-inner #header #glb-nav ul li {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 9px 10px 4px 10px; }
        /* line 27, ../sass/_inner.scss */
        body div#recruit #wrap-inner #header #glb-nav ul li a {
          font-size: 20px; }
    /* line 34, ../sass/_inner.scss */
    body div#recruit #wrap-inner #contents {
      padding-bottom: 268px; }
    /* line 37, ../sass/_inner.scss */
    body div#recruit #wrap-inner #footer {
      position: absolute;
      bottom: 0;
      height: 208px; }
      /* line 42, ../sass/_inner.scss */
      body div#recruit #wrap-inner #footer .links-grid li {
        float: left;
        font-weight: bold;
        margin-right: 10px;
        padding: 10px 7px 7px 10px; }
      /* line 49, ../sass/_inner.scss */
      body div#recruit #wrap-inner #footer address {
        margin-top: 20px; }
        /* line 52, ../sass/_inner.scss */
        body div#recruit #wrap-inner #footer address ul {
          float: left;
          margin-right: 10px; }
          /* line 55, ../sass/_inner.scss */
          body div#recruit #wrap-inner #footer address ul li {
            margin-bottom: 10px;
            padding: 10px 9px 8px 10px; }
      /* line 61, ../sass/_inner.scss */
      body div#recruit #wrap-inner #footer #copyright {
        margin-top: 10px; }
        /* line 63, ../sass/_inner.scss */
        body div#recruit #wrap-inner #footer #copyright p {
          float: left;
          margin-right: 10px;
          padding: 10px 10px 7px 10px; }
  @media only screen and (max-width: 640px) {
    /* line 73, ../sass/_inner.scss */
    body div#recruit #wrap-inner {
      padding: 0px 20px; }
      /* line 76, ../sass/_inner.scss */
      body div#recruit #wrap-inner #header #glb-nav {
        margin-bottom: 30px; }
      /* line 80, ../sass/_inner.scss */
      body div#recruit #wrap-inner #contents {
        padding-bottom: 40px; }
      /* line 83, ../sass/_inner.scss */
      body div#recruit #wrap-inner #footer {
        position: relative;
        bottom: 40px;
        height: auto; }
        /* line 88, ../sass/_inner.scss */
        body div#recruit #wrap-inner #footer .links-grid li {
          margin-bottom: 10px; }
        /* line 92, ../sass/_inner.scss */
        body div#recruit #wrap-inner #footer address {
          margin-top: 10px; }
          /* line 94, ../sass/_inner.scss */
          body div#recruit #wrap-inner #footer address ul {
            float: left;
            margin-right: 0px; } }
  /* line 2, ../sass/_recruit.scss */
  body div#recruit #wrap-inner #recruit-about {
    font-size: 18px;
    line-height: 32px;
    padding: 3px 10px 0px 10px; }
  /* line 7, ../sass/_recruit.scss */
  body div#recruit #wrap-inner .recruit-column {
    font-size: 14px; }
    /* line 9, ../sass/_recruit.scss */
    body div#recruit #wrap-inner .recruit-column h3 {
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: 10px;
      float: left;
      padding: 10px 12px 8px 10px; }
    /* line 16, ../sass/_recruit.scss */
    body div#recruit #wrap-inner .recruit-column dl, body div#recruit #wrap-inner .recruit-column p, body div#recruit #wrap-inner .recruit-column li {
      line-height: 23px; }
    /* line 19, ../sass/_recruit.scss */
    body div#recruit #wrap-inner .recruit-column p, body div#recruit #wrap-inner .recruit-column ul, body div#recruit #wrap-inner .recruit-column dd {
      padding: 10px 10px 5px 10px; }
    /* line 25, ../sass/_recruit.scss */
    body div#recruit #wrap-inner .recruit-column.size-wide dl dt {
      float: left;
      width: 225px;
      padding: 10px 10px 7px 10px; }
    /* line 30, ../sass/_recruit.scss */
    body div#recruit #wrap-inner .recruit-column.size-wide dl dd {
      margin-bottom: 10px;
      line-height: 21px;
      padding: 10px 10px 7px 10px;
      padding-left: 245px; }
    /* line 38, ../sass/_recruit.scss */
    body div#recruit #wrap-inner .recruit-column.size-narrow {
      width: 47.8%; }
      /* line 41, ../sass/_recruit.scss */
      body div#recruit #wrap-inner .recruit-column.size-narrow dl dt {
        float: left;
        width: 107px;
        padding: 10px 10px 7px 10px; }
      /* line 46, ../sass/_recruit.scss */
      body div#recruit #wrap-inner .recruit-column.size-narrow dl dd {
        margin-bottom: 10px;
        line-height: 21px;
        padding: 10px 10px 7px 10px;
        padding-left: 127px; }
      /* line 53, ../sass/_recruit.scss */
      body div#recruit #wrap-inner .recruit-column.size-narrow ol {
        padding-left: 127px;
        margin-bottom: 12px; }
    /* line 59, ../sass/_recruit.scss */
    body div#recruit #wrap-inner .recruit-column .workstyle-column {
      width: 47.2%;
      margin-bottom: 10px;
      padding: 10px; }
      /* line 63, ../sass/_recruit.scss */
      body div#recruit #wrap-inner .recruit-column .workstyle-column img {
        width: 195px;
        height: 125px;
        float: left; }
      /* line 68, ../sass/_recruit.scss */
      body div#recruit #wrap-inner .recruit-column .workstyle-column p {
        padding: 0;
        float: left;
        margin-top: -3px;
        margin-left: 10px;
        width: 215px; }
    @media only screen and (max-width: 980px) {
      /* line 78, ../sass/_recruit.scss */
      body div#recruit #wrap-inner .recruit-column .workstyle-column {
        clear: both;
        float: none;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px; }
        /* line 84, ../sass/_recruit.scss */
        body div#recruit #wrap-inner .recruit-column .workstyle-column img {
          width: 195px;
          height: 125px;
          float: left; }
        /* line 89, ../sass/_recruit.scss */
        body div#recruit #wrap-inner .recruit-column .workstyle-column p {
          padding: 0;
          float: left;
          margin-top: -3px;
          margin-left: 10px;
          width: 70%; } }
    @media only screen and (max-width: 935px) {
      /* line 100, ../sass/_recruit.scss */
      body div#recruit #wrap-inner .recruit-column .workstyle-column {
        clear: both;
        float: none;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        /* line 107, ../sass/_recruit.scss */
        body div#recruit #wrap-inner .recruit-column .workstyle-column img {
          width: 195px;
          height: 125px;
          float: none; }
        /* line 112, ../sass/_recruit.scss */
        body div#recruit #wrap-inner .recruit-column .workstyle-column p {
          padding: 0;
          float: none;
          margin-top: 4px;
          margin-left: 0px;
          margin-bottom: -7px;
          width: 100%; } }
    @media only screen and (max-width: 640px) {
      /* line 127, ../sass/_recruit.scss */
      body div#recruit #wrap-inner .recruit-column.size-wide dl dt {
        font-weight: bold;
        float: none;
        width: 225px;
        padding: 10px 10px 7px 10px; }
      /* line 133, ../sass/_recruit.scss */
      body div#recruit #wrap-inner .recruit-column.size-wide dl dd {
        margin-bottom: 10px;
        line-height: 21px;
        padding: 10px 10px 7px 10px; }
      /* line 140, ../sass/_recruit.scss */
      body div#recruit #wrap-inner .recruit-column.size-narrow {
        width: 100%; }
        /* line 143, ../sass/_recruit.scss */
        body div#recruit #wrap-inner .recruit-column.size-narrow dl dt {
          font-weight: bold;
          float: none;
          width: 107px;
          padding: 10px 10px 7px 10px; }
        /* line 149, ../sass/_recruit.scss */
        body div#recruit #wrap-inner .recruit-column.size-narrow dl dd {
          margin-bottom: 10px;
          line-height: 21px;
          padding: 10px 10px 7px 10px; }
        /* line 155, ../sass/_recruit.scss */
        body div#recruit #wrap-inner .recruit-column.size-narrow ol {
          padding-left: 10px;
          margin-bottom: 12px; } }
  /* line 77, ../sass/style.scss */
  body div #wrap-inner .background-blue {
    background-color: #FFFFFF;
    color: #FFFFFF; }

/* line 88, ../sass/style.scss */
a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 12px; }
  /* line 92, ../sass/style.scss */
  a:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8; }
