<footer id="footer">

  <ul class="links-grid">
    <li class="background-blue"><a href="http://works.uniba.jp/" target="_blank" >Works</a></li>
    <li class="background-blue"><a target="_blank" href="https://www.facebook.com/UnibaInc">Facebook</a></li>
    <li class="background-blue"><a target="_blank" href="https://soundcloud.com/skillmtg">SoundCloud</a></li>
    <!-- <li class="background-blue"><a target="_blank" href="https://twitter.com/unibainc">Twitter</a></li>
    <li class="background-blue"><a target="_blank" href="https://vimeo.com/uniba">Vimeo</a></li>
    <li class="background-blue"><a target="_blank" href="http://www.youtube.com/user/unibajp">YouTube</a></li>
    <li class="background-blue"><a target="_blank" href="https://github.com/uniba">GitHub</a></li>
    <li class="background-blue"><a target="_blank" href="http://qiita.com/organizations/uniba">Qiita</a></li> -->
  </ul>
  <div class="clearfix"></div>
  <address>
    <ul>
      <li class="background-blue"><a href="mailto:info@uniba.jp">info@uniba.jp</a></li>
      <li class="background-blue">TEL 03 3486 9337</li>
      <li class="background-blue">FAX 03 6427 4787</li>
    </ul>
    <ul>
      <li class="background-blue">150-0001 東京都渋谷区神宮前5-38-8 太陽マンション301</li>
      <li class="background-blue">Taiyo 301, 5-38-8 Jingumae, Shibuya-ku Tokyo, 150-0001 JAPAN</li>
      <li class="background-blue"><a target="_blank" href="https://goo.gl/maps/GEEFBHmBizA2">Google Map</a></li>
    </ul>
  </address>
  <div class="clearfix"></div>
  <div id="copyright">
    <p class="background-blue">UNIBA INC. 2003 - 2020</p>
    <p id="site-designer" class="background-blue">Cover Art: HYPER INTERNET 3D by <a target="_blank" href="http://okikata.org/">Akihiko Taniguchi</a>, Site Design: <a target="_blank" href="https://takumiabe.com/">Takumi Abe</a></p>
  </div>
  <div class="clearfix"></div>

</footer>
