<!DOCTYPE html>
<html lang="ja">
  <head>

    <!--Meta-->
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width" id="viewport-meta" name="viewport">
    <title>CAREERS - ユニバ株式会社 UNIBA INC.</title>
    <%= partial "_partial/meta" %>

    <!--CSS-->
    <link rel="stylesheet" href="common/css/style.css" />

    <!--JS_jQuery-->
    <script src="common/js/libs/jquery-1.10.1.min.js"></script>
    <script src="common/js/libs/jquery.easing.1.3.js"></script>
    <script src="common/js/libs/jquery.color.js"></script>
    <script src="common/js/class/textDisplay.js"></script>

  </head>
  <body>

    <div id="careers">

      <div id="wrap-inner">

        <%= partial "_partial/header" %>

        <div id="contents">

          <div id="careers-about" class="background-blue">
            <p>ユニバ株式会社はデザイナーとデベロッパが在籍する少人数のチームです。数多くのクライアントとブランディング、ウェブサービス、インスタレーション等のプロジェクトを進めています。それぞれ異なる得意分野をもったメンバーと共に、新しい技術、新しい表現、新しいアイディアを追求したい方のご連絡をお待ちしています。</p>
          </div>

          <div class="careers-column">
            <h3 class="background-blue">働き方</h3>
            <div class="clearfix"></div>
            <p class="background-blue">その人が持つユニークな能力を、その人が置かれた複雑な状況の中でどう使うのがよいかは、その人自身がいちばんよく知っている、という前提に立って、ユニバでは、いつ、どこで、どんな活動をするかを原則としてそれぞれの人の判断に委ねています。一方でユニバは経済的な利害を共有する集団ですので、その維持のために個人が果たすべき責任の範囲や、互いに期待する振る舞いを共有していくことも必要になります。原則に忠実でありながら行きすぎた個人主義を避け、かつ集団として成長していくことができるように、独自の規定や契約フォーマット、行動指針、制度等を作って運営しています。</p>
          </div>

          <div class="careers-column size-wide">
            <h3 class="background-blue">募集種別</h3>
            <div class="clearfix"></div>
            <div class="background-blue">
              <dl>
                <dt>・UIデザイナ <a href="https://forms.gle/DSdhf3EfLViq6RwYA" target="_blank">応募フォーム</a></dt>
                <dt>・QAエンジニア <a href="https://forms.gle/DSdhf3EfLViq6RwYA" target="_blank">応募フォーム</a>/dt>
                <dt>・SREエンジニア <a href="https://forms.gle/DSdhf3EfLViq6RwYA" target="_blank">応募フォーム</a>/dt>
                </dt>
              </dl>
            </div>
          </div>

          <div class="careers-column size-wide">
            <h3 class="background-blue">勤務地</h3>
            <div class="clearfix"></div>
            <div class="background-blue">
              <p>2020年の新型コロナウィルスに伴う緊急事態宣言以降、リモートワークを採用しています。</p>
            </div>
            <div class="background-blue">
              <p><a target="_blank" href="https://goo.gl/maps/GEEFBHmBizA2" rel="noopener">東京都渋谷区神宮前５丁目３８−８ 太陽マンション 301<span class="external-icon"></span></a></p>
            </div>
          </div>

          <div class="careers-column">
            <h3 class="background-blue">応募方法</h3>
            <div class="clearfix"></div>
            <div class="background-blue">
              <p><a href="https://forms.gle/DSdhf3EfLViq6RwYA" target="_blank">応募フォーム</a>の内容を記入の上、送信してください。</p>
            </div>
          </div>
        </div>

        <%= partial "_partial/footer" %>

      </div>

    </div>

  </body>
  <%= partial "_partial/ga" %>

</html>
