<!DOCTYPE html>
<html lang="ja">
  <head>

    <!--Meta-->
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width" id="viewport-meta" name="viewport">
    <title>CAREERS - ユニバ株式会社 UNIBA INC.</title>
    <%= partial "_partial/meta" %>

    <!--CSS-->
    <link rel="stylesheet" href="common/css/style.css" />

    <!--JS_jQuery-->
    <script src="common/js/libs/jquery-1.10.1.min.js"></script>
    <script src="common/js/libs/jquery.easing.1.3.js"></script>
    <script src="common/js/libs/jquery.color.js"></script>
    <script src="common/js/class/textDisplay.js"></script>

  </head>
  <body>

    <div id="careers">

      <div id="wrap-inner">

        <%= partial "_partial/header" %>

        <div id="contents">

          <div id="careers-about" class="background-blue">
            <p>ユニバ株式会社はデザイナーとデベロッパが在籍する少人数のチームです。渋谷区のオフィスでは数多くのクライアントとブランディング、ウェブサービス、インスタレーション等のプロジェクトを進めています。それぞれ異なる得意分野をもったメンバーと共に、新しい技術、新しい表現、新しいアイディアを追求したい方のご連絡をお待ちしています。</p>
          </div>

          <div class="careers-column size-wide">
            <div class="background-blue">
              <h3 class="background-blue">面談の様子</h3>
              <div class="video-wrap">
                <video controls autoplay loop playsinline muted src="./common/video/mendan.mp4"></video>
              </div>
            </div>
          </div>

          <div class="careers-column">
            <h3 class="background-blue">働き方</h3>
            <div class="clearfix"></div>
            <p class="background-blue">その人が持つユニークな能力を、その人が置かれた複雑な状況の中でどう使うのがよいかは、その人自身がいちばんよく知っている、という前提に立って、ユニバでは、いつ、どこで、どんな活動をするかを原則としてそれぞれの人の判断に委ねています。一方でユニバは経済的な利害を共有する集団ですので、その維持のために個人が果たすべき責任の範囲や、互いに期待する振る舞いを共有していくことも必要になります。原則に忠実でありながら行きすぎた個人主義を避け、かつ集団として成長していくことができるように、独自の規定や契約フォーマット、行動指針、制度等を作って運営しています。<br>詳しくは、以下のリンク先のドキュメントに書かれています。</p>
          </div>

          <div class="careers-column size-document">
            <div class="background-blue">
              <dl>
                <dt><a target="_blank" href="https://github.com/uniba/uniba.github.io/tree/middleman/documents/%E6%B4%BB%E5%8B%95%E3%82%AB%E3%83%AC%E3%83%B3%E3%83%80%E3%83%BC" rel="noopener">活動カレンダー<span class="external-icon"></span></a></dt>
                <dd>全員に関係するイベントや休暇のスケジュール</dd>
                <dt><a target="_blank" href="https://github.com/uniba/uniba.github.io/tree/middleman/documents/%E8%B2%AC%E5%8B%99%E5%90%88%E6%84%8F%E6%9B%B8" rel="noopener">責務合意書<span class="external-icon"></span></a></dt>
                <dd>会社を共同で運営するために個人が果たすべき責務と報酬について合意するための契約書</dd>
                <dt><a target="_blank" href="https://github.com/uniba/uniba.github.io/tree/middleman/documents/%E6%94%AF%E6%8F%B4%E5%88%B6%E5%BA%A6" rel="noopener">支援制度<span class="external-icon"></span></a></dt>
                <dd>個人の住環境や制作・研究環境の整備を後押しするための支援制度</dd>
                <dt><a target="_blank" href="https://github.com/uniba/uniba.github.io/tree/middleman/documents/%E5%B0%B1%E6%A5%AD%E8%A6%8F%E5%89%87" rel="noopener">就業規則<span class="external-icon"></span></a></dt>
                <dd>日本国に立地する企業として関連法規を遵守するために存在する契約書・規定類</dd>
                <dt><a target="_blank" href="https://github.com/uniba/uniba.github.io/tree/middleman/documents/%E8%A1%8C%E5%8B%95%E6%8C%87%E9%87%9D%E3%81%A8%E7%A4%BE%E5%86%85%E6%89%8B%E7%B6%9A" rel="noopener">行動指針と社内手続<span class="external-icon"></span></a></dt>
                <dd>日々の活動の中で期待される振る舞いについての指針と経費精算等の手続類</dd>
                <dt><a target="_blank" href="https://github.com/uniba/uniba.github.io/tree/middleman/documents/%E5%85%A5%E7%A4%BE%E6%99%82%E3%83%BB%E9%80%80%E8%81%B7%E6%99%82%E6%89%8B%E7%B6%9A%E3%81%8D" rel="noopener">入社時・退職時手続き<span class="external-icon"></span></a></dt>
                <dd>スタッフの入社時および退職時のやることリスト</dd>
              </dl>
            </div>
          </div>

          <div class="careers-column size-wide">
            <h3 class="background-blue">募集種別</h3>
            <div class="clearfix"></div>
            <div class="background-blue">
              <dl>
                <dt>UNIBA General</dt>
                <dd>
                  ・ウェブブランディング・サービス企画開発<br/>
                  ・ウェブアプリケーション開発<br/>
                  ・デバイス・インスタレーション企画開発<br/>
                  ・iOS・Androidネイティブアプリ開発
                </dd>
              </dl>
            </div>
            <div class="background-blue">
              <dl>
                <dt>Promotai</dt>
                <dd>
                  ・Webページ・SNS・映像配信・グッズ製作等を利用したPR活動全般<br/>
                  ・イベントやワークショップの企画・運営・記録撮影<br/>
                  ・製作物の告知・実績紹介ページ <a href="http://works.uniba.jp/" target="_blank" rel="noopener">works.uniba.jp</a> の運用<br/>
                  ・社員の個人活動におけるプロモーションのサポート
                </dd>
              </dl>
            </div>
            <div class="background-blue">
              <dl>
                <dt>Otasuketai</dt>
                <dd>
                  ・オフィス環境・設備・備品・機材等のファシリティ管理業務全般<br/>
                  ・契約書・請求書等の書類発行などの事務業務全般<br/>
                  ・経理・労務・法務等の管理業務のサポート<br/>
                  ・プロダクション業務の一部サポート
                </dd>
              </dl>
            </div>
          </div>

          <div class="careers-column size-wide">
            <h3 class="background-blue">勤務地</h3>
            <div class="clearfix"></div>
            <div class="background-blue">
              <p><a target="_blank" href="https://goo.gl/maps/GEEFBHmBizA2" rel="noopener">東京都渋谷区神宮前５丁目３８−８ 太陽マンション 301<span class="external-icon"></span></a></p>
            </div>
          </div>

          <div class="careers-column">
            <h3 class="background-blue">応募方法</h3>
            <div class="clearfix"></div>
            <div class="background-blue">
              <p>件名を「採用希望」とし、氏名・連絡先・応募対象を記入したメールを <a href="mailto:careers@uniba.jp">careers@uniba.jp</a> までお送りください。</p>
            </div>
          </div>
        </div>

        <%= partial "_partial/footer" %>

      </div>

    </div>

  </body>
  <%= partial "_partial/ga" %>

</html>
