<!DOCTYPE html>
<html lang="ja">
  <head>

    <!--Meta-->
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width" id="viewport-meta" name="viewport">
    <title>CAREERS - ユニバ株式会社 UNIBA INC.</title>
    <%= partial "_partial/meta" %>

    <!--CSS-->
    <link rel="stylesheet" href="common/css/style.css" />

    <!--JS_HTML5-->
    <!--[if lt IE 9]><script src="common/js/libs/html5shiv.min.js"></script><![endif]-->

    <!--JS_jQuery-->
    <script src="common/js/libs/jquery-1.10.1.min.js"></script>
    <script src="common/js/libs/jquery.easing.1.3.js"></script>
    <script src="common/js/libs/jquery.color.js"></script>
    <script src="common/js/class/textDisplay.js"></script>

  </head>
  <body>

    <div id="careers">

      <div id="wrap-inner">

        <%= partial "_partial/header" %>

        <div id="contents">

          <div id="careers-about" class="background-blue">
            <p>ユニバ株式会社はデザイナーとデベロッパが在籍する少人数のチームです。渋谷区のオフィスでは数多くのクライアントとブランディング、ウェブサービス、インスタレーション等のプロジェクトを進めています。それぞれ異なる得意分野をもったメンバーと共に、新しい技術、新しい表現、新しいアイディアを追求したい方のご連絡をお待ちしています。</p>
          </div>

          <div class="careers-column size-wide">
            <div class="background-blue">
              <h3 class="background-blue">面談の様子</h3>
              <div class="video-wrap">
                <video controls autoplay loop playsinline muted src="./common/video/mendan.mp4"></video>
              </div>
            </div>
          </div>

          <div class="careers-column">
            <h3 class="background-blue">働き方</h3>
            <div class="clearfix"></div>
            <p class="background-blue">その人が持つユニークな能力を、その人が置かれた複雑な状況の中でどう使うのがよいかは、その人自身がいちばんよく知っている、という前提に立って、ユニバでは、いつ、どこで、どんな活動をするかを原則としてそれぞれの人の判断に委ねています。ユニバはひとつのチームですので、果たすべき責任や、期待される役割は当然ありますが、自分の責任を果たすための時間の使い方については、お互いの自由を守るということをとても重視しています。そういう環境ですので、いろんな個性ある人たちがどうやってチームに貢献できるか、そのなかで個人もチームもどう成長していくか、といったテーマを話し合うことが重要になります。「ユニバの働き方」は常に変化していますが、その原則は変わりません。</p>
          </div>

          <div class="careers-column size-wide">
            <h3 class="background-blue">募集種別</h3>
            <div class="clearfix"></div>
            <div class="background-blue">
              <dl>
                <dt>UNIBA General</dt>
                <dd>
                  ・ウェブブランディング・サービス企画開発<br/>
                  ・ウェブアプリケーション開発<br/>
                  ・デバイス・インスタレーション企画開発<br/>
                  ・iOS・Androidネイティブアプリ開発
                </dd>
              </dl>
            </div>
            <div class="background-blue">
              <dl>
                <dt>Promotai</dt>
                <dd>
                  ・Webページ・SNS・映像配信・グッズ製作等を利用したPR活動全般<br/>
                  ・イベントやワークショップの企画・運営・記録撮影<br/>
                  ・製作物の告知・実績紹介ページ <a href="http://works.uniba.jp/" target="_blank" rel="noopener">works.uniba.jp</a> の運用<br/>
                  ・社員の個人活動におけるプロモーションのサポート
                </dd>
              </dl>
            </div>
            <div class="background-blue">
              <dl>
                <dt>Otasuketai</dt>
                <dd>
                  ・オフィス環境・設備・備品・機材等のファシリティ管理業務全般<br/>
                  ・契約書・請求書等の書類発行などの事務業務全般<br/>
                  ・経理・労務・法務等の管理業務のサポート<br/>
                  ・プロダクション業務の一部サポート<br/>
                  （※満定員のため現在は募集しておりません。募集再開時はアナウンスいたします）
                </dd>
              </dl>
            </div>
          </div>

          <div class="careers-column">
            <h3 class="background-blue">合意書・宣誓書</h3>
            <div class="clearfix"></div>
            <p class="background-blue">定期的に、働き方の原則と、その人が果たすべき責任、報酬について話し合う場を設けています。ほとんどの人は代表者と自分とのあいだの責務の合意として、自分の時間の使い方は自分で決め、チームのために貢献するという内容を確認してサインします。同時に報酬についても話し合います。代表者は会社に対して自分の時間をしっかり使うという宣誓として、サインをします。アルバイトの人は時間拘束で手伝いをしてもらうという内容であることが多いため、時間の使い方について強い責任をもつような形にはなっていません。</p>

            <div class="documents">
              <div class="document">
                <figure class="background-blue"><img src="common/img/doc/uniba-2019-sample1.png" alt="責務宣誓書"></figure>
                <p><a class="background-blue" target="_blank" href="common/doc/uniba-2019-sample1.pdf" rel="noopener">責務宣誓書<br/>(代表取締役)</a></p>
              </div>
              <div class="document">
                <figure class="background-blue"><img src="common/img/doc/uniba-2019-sample2.png" alt="責務宣誓書"></figure>
                <p><a class="background-blue" target="_blank" href="common/doc/uniba-2019-sample2.pdf" rel="noopener">責務合意書<br/>(正社員契約)</a></p>
              </div>
              <div class="document">
                <figure class="background-blue"><img src="common/img/doc/uniba-2019-sample3.png" alt="雇用条件合意書"></figure>
                <p><a class="background-blue" target="_blank" href="common/doc/uniba-2019-sample3.pdf" rel="noopener">雇用条件合意書<br/>(アルバイト契約)</a></p>
              </div>
            </div>
          </div>

          <div class="careers-column size-wide">
            <h3 class="background-blue">勤務地</h3>
            <div class="clearfix"></div>
            <div class="background-blue">
              <p><a target="_blank" href="https://goo.gl/maps/GEEFBHmBizA2" rel="noopener">東京都渋谷区神宮前5-34-4 ジェイハウス B1F<span class="external-icon"></span></a></p>
            </div>
          </div>

          <div class="careers-column">
            <h3 class="background-blue">福利厚生</h3>
            <div class="clearfix"></div>
            <p class="background-blue">・健康保険<br/>ユニバは<a href="https://www.its-kenpo.or.jp/" target="_blank" rel="noopener">関東ITソフトウェア健康保険組合（IT健保）</a>に加盟しており、定期検診・特定健診・インフルエンザ予防接種の補助や、保養施設・スポーツクラブ・健保会館付属施設( 🍣)などを被保険者価格で利用できます。</p>
            <p class="background-blue">・自転車通勤<br/>オフィス外にバイクスタンドを設置しており、住居エリアにかかわらず自分の自転車で通勤が可能です。（民間保険の加入および許可申請書・利用規定誓約書の提出が必要です）</p>
            <p class="background-blue">・住宅補助制度<br/>メインオフィスからの直線距離で区間分けをし、住宅との距離や世帯数に応じて家賃補助を支給します。</p>

            <div class="livein">

              <div class="flex-header cell-4 background-blue">
                <span>エリア区分</span>
                <span>J.HAUSからの距離</span>
                <span>補助支給額 (単身の場合)</span>
                <span>補助支給額 (家族同居の場合)</span>
              </div>

              <div class="flex-block cell-4 background-blue">
                <strong data-head="エリア区分">第 1 区</strong>
                <strong data-head="J.HAUSからの距離">半径 2キロ以内</strong>
                <span data-head="補助支給額 (単身の場合)">6 万円/月</span>
                <span data-head="補助支給額 (家族同居の場合)">12 万円/月</span>
              </div>

              <div class="flex-block cell-4 background-blue">
                <strong data-head="エリア区分">第 2 区</strong>
                <strong data-head="J.HAUSからの距離">半径 4キロ以内</strong>
                <span data-head="補助支給額 (単身の場合)">4 万円/月</span>
                <span data-head="補助支給額 (家族同居の場合)">8 万円/月</span>
              </div>

              <div class="flex-block cell-4 background-blue">
                <strong data-head="エリア区分">第 3 区</strong>
                <strong data-head="J.HAUSからの距離">半径 6キロ以内</strong>
                <span data-head="補助支給額 (単身の場合)">2 万円/月</span>
                <span data-head="補助支給額 (家族同居の場合)">4 万円/月</span>
              </div>

              <div class="flex-block cell-4 background-blue">
                <strong data-head="エリア区分">第 4 区</strong>
                <strong data-head="J.HAUSからの距離">半径 8キロ以内</strong>
                <span data-head="補助支給額 (単身の場合)">1 万円/月</span>
                <span data-head="補助支給額 (家族同居の場合)">2 万円/月</span>
              </div>

              <div class="flex-block cell-4 background-blue">
                <strong data-head="エリア区分">第 5 区</strong>
                <strong data-head="J.HAUSからの距離">半径 8キロ以上</strong>
                <span data-head="補助支給額 (単身の場合)">0 万円/月</span>
                <span data-head="補助支給額 (家族同居の場合)">0 万円/月</span>
              </div>
            </div>

            <p class="background-blue">・引越補助制度<br/>現住居と引越先の場所に応じて引越し補助を支給します。（エリアの区分は住宅補助制度と同一です）</p>

            <div class="move">
              <div class="flex-header cell-2 background-blue">
                <span>引越し先</span>
                <span>補助支給額</span>
              </div>

              <div class="flex-block cell-2 background-blue">
                <strong data-head="引越し先">現住居と同じエリア</strong>
                <span data-head="補助支給額">(なし)</span>
              </div>

              <div class="flex-block cell-2 background-blue">
                <strong data-head="引越し先">現住居より遠いエリア</strong>
                <span data-head="補助支給額">(なし)</span>
              </div>

              <div class="flex-block cell-2 background-blue">
                <strong data-head="引越し先">1区近いエリア</strong>
                <span data-head="補助支給額">2 万円</span>
              </div>

              <div class="flex-block cell-2 background-blue">
                <strong data-head="引越し先">2区近いエリア</strong>
                <span data-head="補助支給額">3 万円</span>
              </div>

              <div class="flex-block cell-2 background-blue">
                <strong data-head="引越し先">3区近いエリア</strong>
                <span data-head="補助支給額">4 万円</span>
              </div>

              <div class="flex-block cell-2 background-blue">
                <strong data-head="引越し先">4区近いエリア</strong>
                <span data-head="補助支給額">5 万円</span>
              </div>
            </div>

            <p class="background-blue">・個人ブッコミ補助制度<br/>いい道具を揃えよう or 新しいソフトウェアやハードウェアの研究をしようとする人を応援する制度です。個人所有を前提に設計されたデバイスは、会社所有であると遠慮が出たりするため、自腹で買う人が後を絶ちませんでした。そういうぶっこんでる人を応援するためにつくられた制度です。リストにある製品の購入価格の 30% を補助します。(補助対象は随時アップデートしています)</p>

            <div class="support-list">
              <p class="background-blue">補助対象リスト：<br/>MacBook Pro 15/13、MacBook Air 13 Retina、MacBook 12、iPad Pro 11 / 12.9、Apple Pencil (第2世代)、Razer Blade、Razer Blade Stealth、Razer Blade Pro、Apple Watch series 4、iPhone XS、iPhone XS Max、iPhone XR、Pixel 3、Google Home、Google Home mini、Amazon Echo、Amazon Echo Dot、Amazon Echo Plus、Amazon Echo Spot、Amazon Echo Show、(HomePod)、Tesla Model 3、ほか</p>
            </div>
          </div>

          <div class="careers-column">
            <h3 class="background-blue">応募方法</h3>
            <div class="clearfix"></div>
            <div class="background-blue">
              <p>件名を「採用希望」とし、氏名・連絡先・応募対象を記入したメールを <a href="mailto:careers@uniba.jp">careers@uniba.jp</a> までお送りください。</p>
            </div>
          </div>
        </div>

        <%= partial "_partial/footer" %>

      </div>

    </div>

  </body>
  <script>
    var _gaq=[['_setAccount','UA-22139995-1'],['_setDomainName','uniba.jp'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==document.location.protocol?'https://':'http://')+'stats.g.doubleclick.net/dc.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

</html>
