<!DOCTYPE html>
<html lang="ja">
  <head>

    <!--Meta-->
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width" id="viewport-meta" name="viewport">
    <title>ユニバ株式会社 UNIBA INC.</title>
    <%= partial "_partial/meta" %>

    <!--CSS-->
    <link rel="stylesheet" href="common/css/style.css" />

    <!--JS_jQuery-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="common/js/libs/jquery.easing.1.3.js"></script>

    <!--<script src="common/js/class/ion.sound.min.js"></script>
    <script src="common/js/class/js.js"></script>-->

    <script src="common/js/libs/jquery.color.js"></script>
    <script src="common/js/class/textDisplay.js"></script>

  </head>
  <body>

    <div id="top">

      <div id="wrap-inner">

        <div id="title">
          <h2 class="background-blue">Embodied Virtuality</h2>
          <h1 class="background-blue">UNIBA INC.</h1>

          <div id="enter-container">
            <a href="home.html">
              <div class="enter-button" class="background-blue">
                ENTER
              </div>
            </a>
          </div>

        </div>

        <div id="copyright" class="background-blue">
          <p>UNIBA INC. 2003 - 2020</p>
          <p id="site-design">Cover Art: HYPER INTERNET 3D by <a target="_blank" href="http://okikata.org/">Akihiko Taniguchi</a>, Site Design: <a target="_blank" href="https://takumiabe.com/">Takumi Abe</a></p>
        </div>

      </div>

    </div>

  </body>
  <%= partial "_partial/ga" %>

</html>
